<div class="memberright bdgray">
            
            <div class="rightbox">
                <div class="titleh3 graycolor"><a href="{:U('Photo/index')}">我的相册</a></div>
                <div class="mbAlbum">
                    <ul>
                        <li>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="{:U('Photo/show')}"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">我的相册 </a><span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                        <li>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">我的相册</a> <span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                        <li>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">我的相册</a> <span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightbox mt15">
                 <div class="titleh3 graycolor"><a href="{:U('Aixiu/index')}">我的爱秀</a></div>
                 <p class="keyword">朋友们叫我小清新 有丰富的平面 经验  欢迎约片 喜欢尝试不同的风格 如果你觉得喜欢我就关注我一下咯<a class="pinkcolor ml25">希望大家多多支持~</a></p>
                 <ul class="xiuxiubox">
                        <li><a href="{:U('Aixiu/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a></li>
                        <li><a href="{:U('Aixiu/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a></li>
                        <li><a href="{:U('Aixiu/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a></li>
                 </ul>
            </div>
            <div class="rightbox mt15">
                <div class="titleh3 graycolor"><a href="{:U('Video/index')}">我的视频</a></div>
                <ul class="xiuxiubox">
                        <li><a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a></li>
                        <li class="pr"><a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                         <div class="videotitle">小清新海边照</div>
                         </li>
                        <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        </li>
                 </ul>
            </div>
            <div class="rightbox mt15">
                <div class="titleh3 graycolor"><a href="#">我的微博</a></div>
                <ul class="comment">
                    <li>
                        <p><font class="pinkbold"><a href="#">赵明明</a></font><a href="#" title="">报名参加了"<font class="pinkbold">缪诗12星座气质女选拔赛</font>"活动，各位粉丝们快去支付她，给他反投票吧</a></p>
                        <p><a href="#" title=""><img src="../Public/images/comimg_03.jpg" /></a></p>
                        <p>
                             <span class="commtime">一个月前</span>
                            <span class="operating"><a href="#" title="">收藏</a>｜<a href="#" title="">赞</a>｜<a href="#" title="">转发</a>｜<a href="#" title="">评论</a></span></p>
                    </li>
                    <li>
                        <p><font class="pinkbold"><a href="#">赵明明</a></font><a href="#" title="">报名参加了"<font class="pinkbold">缪诗12星座气质女选拔赛</font>"活动，各位粉丝们快去支付她，给他反投票吧</a></p>
                        <p><a href="#" title=""><img src="../Public/images/comimg_03.jpg" /></a></p>
                        <p>
                             <span class="commtime">一个月前</span>
                            <span class="operating"><a href="#" title="">收藏</a>｜<a href="#" title="">赞</a>｜<a href="#" title="">转发</a>｜<a href="#" title="">评论</a></span></p>
                    </li>
                    
                </ul>
            </div>
        </div>