<div class="memberbox bdgray">
        <div class="titleh3 graycolor textcenter"><a href="#" title="">我的模卡</a></div>
        <div class="modelcard">
        <img src="../Public/images/moka1.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div class="mm-p-comments">
                <h4>全部评论 
                <div class="share">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style fl mr10">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                    <a href="#" class="fr">收藏</a>
                </div>
                 <a href="#" class="mm-p-report">举报</a>
                </h4>
                <div class="comment-widget comment-widgetP0">
                <div class="mm-comment sns-comment sns-widget-ui">
                    <div class="comment-edit">        
                        <div class="comment-add">
                            <div class="textarea-b"><textarea class="f-txt" resize="none" style="" placeholder="我也插句话..." data-lastcursor=""></textarea></div>
                            <div class="act">        
                                <span class="skin-blue">
                                    <em class="J_LetterCount">0/140</em>
                                    <span class="btn"><a href="#" class="J_PostComment">评论</a></span>
                                </span>        
                                <a href="#" class="face">表情</a>            		
                                <label><input type="checkbox" class="J_SycMB"> 同时转发到我的淘宝    </label>            </div>        
                        </div>
                   </div>
                   <ul class="comment-list">
                        <li>
                            <a href="#" target="_blank" class="J_Card">    
                             <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                             <div class="detail">    
                                <p class="words">    
                                    <a class="name J_Card" href="#" target="_blank">ziyewuli</a>还不错哦！！     
                                </p>    
                                <p class="other">    
                                    <span class="opt"><a class="J_ReR" href="#" data-txt="回复@ziyewuli:" >回复</a>   
                                    </span>    
                                    <span class="time">刚刚 - 1楼</span>    
                                </p>    
                             </div>
                         </li>
                   </ul>
                </div>
                </div>
            </div>
    <div class="mm-p-recommend mb10">
        <h4>大家都在关注的模卡</h4>
    </div>
    <div class="clear"></div>
    <ul id="ListDiv" class="wallno1">
        <li><a href="{:U('Moka/show')}"img src="../Public/images/moka1.jpg"></a></li>
        <li><a href="{:U('Moka/show')}"><img src="../Public/images/moka1.jpg"></a></li>
        <li><a href="{:U('Moka/show')}"><img src="../Public/images/moka1.jpg"></a></li>
        <li><a href="{:U('Moka/show')}"><img src="../Public/images/moka1.jpg"></a></li>
        
    </ul>
    <div class="clear"></div>