<div class="memberbox bdgray">
            <div class="rightbox">
                <div class="titleh3 graycolor textcenter"><a href="#" title="">机构相册</a></div>
                <div class="mbAlbum mbAlbumH">
                    <ul>
                        <li>
                             
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="{:U('Photo/show')}"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">头像相册</a> <span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                        <li>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="{:U('Photo/show')}"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">头像相册</a> <span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                        <li>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="{:U('Photo/show')}"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">头像相册</a> <span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                        <li>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="{:U('Photo/show')}"><img src="../Public/images/alblumbig_03.png" /></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                                    <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="{:U('Photo/show')}"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                             <a href="{:U('Photo/show')}"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">头像相册</a> <span class="more">(4张)</span></div>
                            <p>更新时间：2014-11-11</p>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
            
    </div>