<div class="memberbox bdgray">
        <div class="titleh3 graycolor textcenter"><a href="#" title="">我的视频</a></div>
        <div class="rightbox ">
            <div class="rHead mt5">
                <ul class="xiuxiubox xiuxiuboxH">                   
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                    <li class="pr">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                        <div class="videotitle">小清新海边照</div>
                        <div class="xiuxiuGray">
                        <a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                        </div>
                     </li>
                </ul>
            </div>
            
        </div>
    </div>