<div class="rbigmin">
                <div class="rHead">
                      <div class="mtabContentBox">
                            <div class="xinxi-title">
                            <ul class="clearfix" id="details-ul">
                                <li class="hover"><a href="javascript:void(0);" id="zx">礼物</a></li>
                                <li><a href="#">收到的礼物</a></li>
                                <li><a href="#">送出的礼物</a></li>
                            </ul>
                         </div>
                         <!--礼物-->
                          <div class="mtabContent">
                                <div class="Con_gift">
                                    <div class="Gift_to">
                                        <strong>您现在有: 0秀币 | <a href="Recharge.aspx">充值</a></strong><b>送给：</b>
                                        <div class="choose_box">
                                        <input name="userid" type="text" id="userid"> 
                                        </div>
                                        <button class="ml10">添加秀友</button>
                                    </div>
                                    <div class="Choose_type">
                                        <p><b>请输入礼物数量：</b><input type="text" name="giftnum" value="1"> 个。</p>
                                        <p><input type="radio" name="sendradio" vale="0" checked=""> 直接赠送</p>
                                        <p><input type="radio" name="sendradio" vale="1"> 偷偷赠送(仅对方自己知道)</p>
                                        <p><input type="radio" name="sendradio" vale="2"> 匿名赠送(不差钱儿，谁都不知道是你送的)</p>
                                    </div>
                                    <div class="Gift_bt g_22"></div>
                                    <div class="Choose_g">
                                        <span id="LogList">
                                            <p><img src="../Public/images/82.gif"><b>钻心蝴蝶</b><em>价格：60秀币<i>VIP价格：54秀币</i></em><b style="display:none">折合：0票</b><button class="mt10">赠送</button></p>
                                            <p><img src="../Public/images/82.gif"><b>钻心蝴蝶</b><em>价格：60秀币<i>VIP价格：54秀币</i></em><b style="display:none">折合：0票</b><button class="mt10">赠送</button></p>
                                            <p><img src="../Public/images/82.gif"><b>钻心蝴蝶</b><em>价格：60秀币<i>VIP价格：54秀币</i></em><b style="display:none">折合：0票</b><button class="mt10">赠送</button></p>
                                            <p><img src="../Public/images/82.gif"><b>钻心蝴蝶</b><em>价格：60秀币<i>VIP价格：54秀币</i></em><b style="display:none">折合：0票</b><button class="mt10">赠送</button></p>
                                            <p><img src="../Public/images/82.gif"><b>钻心蝴蝶</b><em>价格：60秀币<i>VIP价格：54秀币</i></em><b style="display:none">折合：0票</b><button class="mt10">赠送</button></p>
                                            
                                        </span>
                                    </div>
                                    <div class="pagerout">
                                            <div class="pager">
                                                <strong><span>1</span></strong>
                                                <a href="#"><span>2</span></a>
                                                <a href="#"><span>3</span></a>
                                                <a href="#"><span>4</span></a>
                                                <a href="#"><span>5</span></a>
                                                <a href="#"><span>6</span></a>
                                                <a href="#"><span>7</span></a>
                                                <a href="#"><span>8</span></a>
                                                <a class="next" href="#"><span>下一页</span></a>
                                            <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                                            </div>
                                   </div>
                                        
                                </div>
                          </div>
                        <!--收到的礼物-->
                        <div class="mtabContent" style="display:none">
                            <div class="Con_gift">
                                <div class="Gift_to" style="display:none">
                                    <h3>共收到0个礼物</h3>
                                </div>                                
                                <div class="Choose_g">
                                     <table class="qz">
                                        <tbody>
                                            <tr>
                                                <th width="50px">&nbsp;</th>
                                                <th width="200px" class="textcenter">赠送礼物</th>
                                                <th width="200px" class="textcenter">赠送用户</th>
                                                 <th width="130px" class="textcenter">价格</th>
                                                <th width="100px" class="textcenter">VIP价格</th>
                                                <th width="100px">赠送时间</th>
                                                <th width="93px">操作</th>
                                            </tr>
                                            <tr class="bg1">
                                                                                                                                     <tr>
                                                 <td class=" "><input name="" type="checkbox" value="" class="ml20" /></td>
                                                <td class="textcenter"><img src="../Public/images/82.gif" style="width:50px"><br />钻心蝴蝶</td>
                                                <td class="textcenter"><img src="../Public/images/default_b.jpg" style="width:50px"><br />赵明明</td>
                                                
                                                <td class="textcenter">60秀币</td>
                                                <td class="textcenter">54秀币</td>
                                                <td class=" ">3023-22-22</td>
                                                <td class=" ">
                                                  <a href="#" target="_blank">删除</a>
                                                </td>
                                                <!-- <td><a href="javascript:DeleteDownload('entity.ID');">删除</a></td> -->
                                            </tr>
                                     </tbody>
                                 </table>
                                </div>
                                <div class="area_cz3">
                                       <input type="checkbox" onclick="SelectAllCheckBox(this)" class="checkqx mr10">全选
                                      <input type="button" class="btn-v2" onclick="javascript:DeleteAllApply();" value="删除选中项">
                                 </div>
                                <div class="pagerout">
                                            <div class="pager">
                                                <strong><span>1</span></strong>
                                                <a href="#"><span>2</span></a>
                                                <a href="#"><span>3</span></a>
                                                <a href="#"><span>4</span></a>
                                                <a href="#"><span>5</span></a>
                                                <a href="#"><span>6</span></a>
                                                <a href="#"><span>7</span></a>
                                                <a href="#"><span>8</span></a>
                                                <a class="next" href="#"><span>下一页</span></a>
                                            <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                                            </div>
                                   </div>
                            </div>
                        </div>
                        <!--送出的礼物-->
                        <div class="mtabContent" style="display:none">
                            <div class="Con_gift">
                                <div class="Gift_to" style="display:none">
                                    <h3>共赠送0个礼物</h3>
                                </div>                                
                                <div class="Choose_g">
                                     <table class="qz">
                                        <tbody>
                                            <tr>
                                                <th width="50px">&nbsp;</th>
                                                <th width="200px" class="textcenter">送出礼物</th>
                                                <th width="200px" class="textcenter">送给用户</th>
                                                 <th width="130px" class="textcenter">价格</th>
                                                <th width="100px" class="textcenter">VIP价格</th>
                                                <th width="100px">送出时间</th>
                                                <th width="93px">操作</th>
                                            </tr>
                                            <tr class="bg1">
                                                                                                                                     <tr>
                                                 <td class=" "><input name="" type="checkbox" value="" class="ml20" /></td>
                                                <td class="textcenter"><img src="../Public/images/82.gif" style="width:50px"><br />钻心蝴蝶</td>
                                                <td class="textcenter"><img src="../Public/images/default_b.jpg" style="width:50px"><br />赵明明</td>
                                                
                                                <td class="textcenter">60秀币</td>
                                                <td class="textcenter">54秀币</td>
                                                <td class=" ">3023-22-22</td>
                                                <td class=" ">
                                                  <a href="#" target="_blank">删除</a>
                                                </td>
                                                <!-- <td><a href="javascript:DeleteDownload('entity.ID');">删除</a></td> -->
                                            </tr>
                                         </tbody>
                                     </table>
                                </div>
                                <div class="area_cz3">
                                       <input type="checkbox" onclick="SelectAllCheckBox(this)" class="checkqx mr10">全选
                                      <input type="button" class="btn-v2" onclick="javascript:DeleteAllApply();" value="删除选中项">
                                 </div>
                                <div class="pagerout">
                                            <div class="pager">
                                                <strong><span>1</span></strong>
                                                <a href="#"><span>2</span></a>
                                                <a href="#"><span>3</span></a>
                                                <a href="#"><span>4</span></a>
                                                <a href="#"><span>5</span></a>
                                                <a href="#"><span>6</span></a>
                                                <a href="#"><span>7</span></a>
                                                <a href="#"><span>8</span></a>
                                                <a class="next" href="#"><span>下一页</span></a>
                                            <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                                            </div>
                                   </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>