<div class="rbigmin">
                <div class="tjfw">
                    <div class="xinxi-title pr">
                            <ul class="clearfix" id="details-ul">
                                <li class="hover"><a href="javascript:void(0);" id="zx">我的秀友</a></li>
                              
                            </ul>
                           
                        </div>
                    <div class="wdxy">
                        <ul>
                            <li>
                                
                                <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                    <p><a href="#" title="更改头像"><img src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" style="width:90px"></a></p>
                                   <p class="mt5"><a href="#" title="">赵明明</a><a class="membertag">皇后</a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                            <li>
                                
                                <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                    <p><a href="#" title="更改头像"><img src="../Public/images/memberimg_03.jpg" style="width:90px"></a></p>
                                   <p class="mt5"><a href="#" title="">赵明明</a><a class="membertag">皇后</a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                            <li>
                                
                               <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                    <p><a href="#" title="更改头像"><img src="../Public/images/4.jpg" style="width:90px"></a></p>
                                    <p class="mt5"><a href="#" title="">赵明明</a><a class="membertag">皇后</a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                            <li>
                                
                               <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                    <p><a href="#" title="更改头像"><img src="../Public/images/1.jpg" style="width:90px"></a></p>
                                    <p class="mt5"><a href="#" title="">赵明明</a><a class="membertag">皇后</a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                            <li>
                                
                                <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                     <p><a href="#" title="更改头像"><img src="../Public/images/25.jpg" style="width:90px"></a></p>
                                    <p class="mt5"><a href="#" title="">赵明明</a><a class="membertag">皇后</a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                            <li>
                                
                                <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                     <p><a href="#" title="更改头像"><img src="../Public/images/albumimgsmall_03.jpg" style="width:90px"></a></p>
                                   <p class="mt5"><a href="#" title="">浙江合伙人传媒</a><a href="#" class="Leveltag"></a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                            <li>
                                
                                <p class="mm-photo-tool">
                                    <a href="#" class="publish btn btn-pink">在线联系</a>
                                    <a href="#" class="publish btn btn-pink">删除</a>    
                                </p>
                                <div class="mdavatar fl">
                                     <p><a href="#" title="更改头像"><img src="../Public/images/woimg.jpg" style="width:90px"></a></p>
                                   <p  class="mt5"><a href="#" title="">浙江合伙人传媒</a><a href="#" class="Leveltag"></a></p>
                                    <p><a href="#" class="notCertified">未认证</a></p>
                                </div>
                                <div class="mbPopularity">
                                    <ul class="mbPopularityTop">
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p>人气</p>
                                        </li>
                                        <li class="mbPopularityCenter">
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">粉丝</a></p>
                                        </li>
                                        <li>
                                            <span class="pinknum">2000</span>
                                            <p><a href="#" title="">关注</a></p>
                                        </li> 
                                    </ul>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                    <div class="pagerout">
                    <div class="pager pinkpager">
                        <strong><span>1</span></strong>
                        <a href="#"><span>2</span></a>
                        <a href="#"><span>3</span></a>
                        <a href="#"><span>4</span></a>
                        <a href="#"><span>5</span></a>
                        <a href="#"><span>6</span></a>
                        <a href="#"><span>7</span></a>
                        <a href="#"><span>8</span></a>
                        <a class="next" href="#"><span>下一页</span></a>
                    <!--点击上一页添加样式prevC--><!--点击下一页添加样式nextC-->
                    <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                    </div>
               </div>
                    
                </div>
                
                
                    
            </div>