<div class="rbigmin ">
                    <div class="rHead">
                        <div class="dpl-page-title dpl-page-title-simple" style="display:none">
                         <i></i>
                        <h2 class="dpl-title mbbox"><a href="memberpinglun.html" class="cRed">我是买家</a><a href="memberpinglunmaijia.html" class="ml15">我是卖家</a></h2>
                      </div>
                      <div class="mtabContentBox">
                        <div class="xinxi-title">
                            <ul class="clearfix" id="details-ul">
                                <li class="hover"><a href="javascript:void(0);" id="zx">我评论过的</a></li>
                                <li><a href="#">收到的评论</a></li>
                            </ul>
                        </div>
                        <!--评论start-->
                       <div class="mtabContent">
                            <div id="J_comment_list" class="mm-comment sns-comment sns-widget-ui">
                                <div class="comment-widget">
                                 <div class="hidden" id="Jianghu_tb_token">
                                    <input name="_tb_token_" type="hidden" value="fe10e880973b3">
                                 </div>
                                 <ul class="comment-list">    
                                    <li>
                                    <a href="#" target="_blank" class="J_Card">    
                                        <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                                        <div class="detail">   
                                             <p class="words">    
                                                <a class="name J_Card" href="#" target="_blank">ziyewuli</a>dddd     
                                             </p>    
                                             <p class="other">    
                                                <span class="opt"><a class="J_ReR" href="#">回复</a>    </span>    
                                                <span class="time">12月4日 21:00 - 1楼</span>    
                                             </p>    
                                        </div>
                                     </li>
                                    <li>
                                    <a href="#" target="_blank" class="J_Card">    
                                        <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                                        <div class="detail">   
                                             <p class="words">    
                                                <a class="name J_Card" href="#" target="_blank">ziyewuli</a>dddd     
                                             </p>    
                                             <p class="other">    
                                                <span class="opt"><a class="J_ReR" href="#">回复</a>    </span>    
                                                <span class="time">12月4日 21:00 - 1楼</span>    
                                             </p>    
                                        </div>
                                     </li>    
                                     <div class="pagerout">
                                        <div class="pager pinkpager">
                                            <strong><span>1</span></strong>
                                            <a href="#"><span>2</span></a>
                                            <a href="#"><span>3</span></a>
                                            <a href="#"><span>4</span></a>
                                            <a href="#"><span>5</span></a>
                                            <a href="#"><span>6</span></a>
                                            <a href="#"><span>7</span></a>
                                            <a href="#"><span>8</span></a>
                                            <a class="next" href="#"><span>下一页</span></a>
                                        <!--点击上一页添加样式prevC--><!--点击下一页添加样式nextC-->
                                        <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                                        </div>
                                    </div>    
                               </ul>
                             </div>
                          </div>
                       </div>  
                        <div class="clear"></div>
                       <div class="mtabContent"  style="display:none">
                            <div id="J_comment_list" class="mm-comment sns-comment sns-widget-ui">
                                <div class="comment-widget">
                                 <div class="hidden" id="Jianghu_tb_token">
                                    <input name="_tb_token_" type="hidden" value="fe10e880973b3">
                                 </div>
                                 <ul class="comment-list">    
                                    <li>
                                    <a href="#" target="_blank" class="J_Card">    
                                        <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                                        <div class="detail">   
                                             <p class="words">    
                                                <a class="name J_Card" href="#" target="_blank">ziyewuli</a>dddd     
                                             </p>    
                                             <p class="other">    
                                                <span class="opt"><a class="J_ReR" href="#">回复</a>    </span>    
                                                <span class="time">12月4日 21:00 - 1楼</span>    
                                             </p>    
                                        </div>
                                     </li>
                                        
                                     <div class="pagerout">
                                        <div class="pager pinkpager">
                                            <strong><span>1</span></strong>
                                            <a href="#"><span>2</span></a>
                                            <a href="#"><span>3</span></a>
                                            <a href="#"><span>4</span></a>
                                            <a href="#"><span>5</span></a>
                                            <a href="#"><span>6</span></a>
                                            <a href="#"><span>7</span></a>
                                            <a href="#"><span>8</span></a>
                                            <a class="next" href="#"><span>下一页</span></a>
                                        <!--点击上一页添加样式prevC--><!--点击下一页添加样式nextC-->
                                        <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                                        </div>
                                    </div>    
                               </ul>
                             </div>
                          </div>
                       </div>  

                        </div>
                        
                        
                        
                    
                    </div>
                </div>
      </div>