<eq name="groupid" value="4">
<div class="events">
    <div class="eventsTitle">【活动】每天获得额外的免费刷新</div>
    <p class="bluecolor">欢迎您，<a href="#" title="" class="bluecolor">{$realname}</a><span class="Leveltag"></span>  <a href="#" title="" class="bluecolor">在线升级</a>（<a href="#" class="font10 bluecolor">机构资料</a>）</p>
    <p>帐号状态：<a href="#" class="bluecolor">手机认证</a> <a href="#" class="ml10 bluecolor">邮箱认证</a> <a href="#" class="ml10 bluecolor">机构认证</a></p>
    <p><a href="#">我的秀友（<font class="pinkcolor">5</font>）</a> <a href="#">我的收藏（<font class="pinkcolor">12</font>）</a> <a href="#">简历下载</a>｜<a href="#">邀请好友</a></p>
    <p>消息提醒：<a href="#">我的消息（<font class="pinkcolor">1</font>）</a> <a href="#">我的评论（<font class="pinkcolor">5</font>）</a> <a href="#">我的礼物（<font class="pinkcolor">0</font>）</a> <a href="#">我的邀请（<font class="pinkcolor">3</font>）</a></p>
    <div class="memberLeftTab maFunds bdgray">
        <ul class="tabtitle">
        <li class="on"><a href="javascript:void(0)">我的资金</a></li>
        <li><a href="javascript:void(0)">我的秀币</a></li>
        </ul>
        <div class="maFundsCon">
            <ul>
                <li>￥<font class="pinkbold">{$user.amount}</font>元</li>
                <li><i class="xiuicon mr10"></i><font class="pinkbold">{$user.point}</font></li>
            </ul>
            <p><a href="{:U('Pay/index')}" class="xiubtn">充值</a><a href="{:U('Money/index')}" class="xiubtn">余额查询</a><a href="{:U('Jifen/index')}" class="xiubtn">消费明细</a></p>
        </div>
    </div>
</div>
 <div class="rightbox">
    <div class="titleh3"><a href="{:U('Job/index')}" title="">招聘信息</a></div>
    <div class="corporatembRm">
        <div class="rmTitle">
            <span class="bluecolor"><a href="#" title="" class="bluecolor">应聘简历</a></span>
            <span>更新时间：2012-11-11</span>
            <span>编码：2343355</span>
            <span>浏览20次</span>
            <span class="more">
            <a href="#">修改</a>|
            <a href="#">删除</a>
            </span>
       </div>
       <div class="rmCon">
            <ul>
                <li>
                    <div class="rmConImg"><a href="#" title=""><img src="../Public/images/ogsimg_03.jpg" /></a></div>
                    <div class="rmPost">
                    <p><a href="#" title=""  class="bluecolor">招聘车模</a></p>
                    <p class="RmCurrent"><a href="#" title="">杭州</a>><a href="#" title="">兼职招聘</a>><a href="#" title="">礼仪招聘</a></p>
                    </div>
                    <div class="rmIntroduction">
                    <a href="#" title="">成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有...</a>
                    </div>
                    <div class="rmOperating">
                        <p><a href="#" class="rficon rmOperatingRf">刷新</a></p>
                        <p><a href="#" class="rficon rmOperatingTj">推荐</a></p>
                        <p><a href="#" class="rficon rmOperatingZd">置顶</a></p>

                    </div>
                </li>

            </ul>
       </div>
    </div>

 </div>
 <div class="rightbox">
    <div class="titleh3 graycolor"><a href="#" title="">机构动态</a></div>
    <div class="corporatembAg">
    <dl >
        <dt><a href="#" title=""><img src="../Public/images/ojgimg_03.jpg" /></a></dt>
        <dd>成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限信息技术有限公司成都思科维信息技术有限公司成都思科维信息技术有限公息技术有限公司成都思科维信息技术有限公成都思科维信息技术有限公司成都思科维信息技术有限公司......<a href="#" title="" class="pinkcolor">[详情]</a></dd>
    </dl>
    </div>
</div>
<div class="rightbox">
    <div class="titleh3 graycolor"><a href="#" title="">机构相册</a></div>
    <div class="mbAlbum">
        <ul>
            <li>
                <div class="mbAlbumTop">
                    <div class="mbAlbumTopbig">
                     <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                    </div>
                    <div class="mbAlbumTopsmall">
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                    </div>
                </div>
                <div class="mbAlbumSmall mt5">
                 <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                 <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                 <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                </div>
                <div class="titleh3 graycolor"><a href="#" title="">我的相册</a> <span class="more">(4张)</span></div>
                <p>更新时间：2014-11-11</p>
            </li>
            <li>
                <div class="mbAlbumTop">
                    <div class="mbAlbumTopbig">
                     <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                    </div>
                    <div class="mbAlbumTopsmall">
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                    </div>
                </div>
                <div class="mbAlbumSmall mt5">
                 <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                 <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                 <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                </div>
                <div class="titleh3 graycolor"><a href="#" title="">我的相册 </a><span class="more">(4张)</span></div>
                <p>更新时间：2014-11-11</p>
            </li>
            <li>
                <div class="mbAlbumTop">
                    <div class="mbAlbumTopbig">
                     <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                    </div>
                    <div class="mbAlbumTopsmall">
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                    </div>
                </div>
                <div class="mbAlbumSmall mt5">
                 <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                 <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                 <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                </div>
                <div class="titleh3 graycolor"><a href="#" title="">我的相册 </a><span class="more">(4张)</span></div>
                <p>更新时间：2014-11-11</p>
            </li>
        </ul>
    </div>
</div>

<div class="rightbox mt15">
    <div class="titleh3 graycolor"><a href="#" title="">机构视频</a></div>
    <ul class="xiuxiubox">
            <li><a href="#" title=""><img src="../Public/images/shiping_03.jpg" /></a></li>
            <li class="pr"><a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a>
             <div class="videotitle">小清新海边照</div>
             </li>
            <li class="pr">
            <a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a>
            <div class="videotitle">小清新海边照</div>
            </li>
     </ul>
</div>

<div class="rightbox mt15">
    <div class="titleh3 graycolor"><a href="#" title="">机构微博</a></div>
    <ul class="comment">
        <li>
            <p><font class="pinkbold"><a href="#">赵明明</a></font><a href="#" title="">报名参加了"<font class="pinkbold">缪诗12星座气质女选拔赛</font>"活动，各位粉丝们快去支付她，给他反投票吧</a></p>
            <p><a href="#" title=""><img src="../Public/images/comimg_03.jpg" /></a></p>
            <p>
                 <span class="commtime">一个月前</span>
                <span class="operating"><a href="#" title="">赞</a>｜<a href="#" title="">转发</a>｜<a href="#" title="">评论</a></span></p>
        </li>
        <li>
            <p><font class="pinkbold"><a href="#">赵明明</a></font><a href="#" title="">报名参加了"<font class="pinkbold">缪诗12星座气质女选拔赛</font>"活动，各位粉丝们快去支付她，给他反投票吧</a></p>
            <p><a href="#" title=""><img src="../Public/images/comimg_03.jpg" /></a></p>
            <p>
                 <span class="commtime">一个月前</span>
                <span class="operating"><a href="#" title="">赞</a>｜<a href="#" title="">转发</a>｜<a href="#" title="">评论</a></span></p>
        </li>

    </ul>
</div>
<else />

    <div class="events">
        <div class="eventsTitle">【活动】每天获得额外的免费刷新</div>
        <p class="bluecolor">欢迎您，<a href="#" title="" class="bluecolor">{$realname}</a><a href="#" class="membertag mr10">皇后</a>  <a href="#" title="" class="bluecolor">在线升级</a>（<a href="#" title="" class="font10 bluecolor">个人资料</a>）</p>
        <p>帐号状态：<a href="#" class="bluecolor">手机认证</a> <a href="#" class="ml10 bluecolor">邮箱认证</a> <a href="#" class="ml10 bluecolor">实名认证</a></p>
        <p><a href="#">我的秀友（<font class="pinkcolor">5</font>）</a> <a href="#">我的收藏（<font class="pinkcolor">12</font>）</a> <a href="#">我的简历</a>｜<a href="#">我的模卡</a>｜<a href="#">邀请好友</a></p>
        <p>消息提醒：<a href="#">我的消息（<font class="pinkcolor">1</font>）</a> <a href="#">我的评论（<font class="pinkcolor">5</font>）</a> <a href="#">我的礼物（<font class="pinkcolor">0</font>）</a> <a href="#">我的邀请（<font class="pinkcolor">3</font>）</a></p>
        <div class="memberLeftTab maFunds bdgray">
            <ul class="tabtitle">
                <li class="on"><a href="javascript:void(0)">我的资金</a></li>
                <li><a href="javascript:void(0)">我的秀币</a></li>
            </ul>
            <div class="maFundsCon">
                <ul>
                    <li>￥<font class="pinkbold">100</font>元</li>
                    <li><i class="xiuicon mr10"></i><font class="pinkbold">100</font></li>
                </ul>
                <p><a href="#" class="xiubtn">充值</a><a href="#" class="xiubtn">余额查询</a><a href="#" class="xiubtn">消费明细</a></p>
            </div>
        </div>
    </div>
    <div class="rightbox">
        <div class="titleh3 graycolor"><a href="#" title="">我的相册</a></div>
        <div class="mbAlbum">
            <ul>
                <li>
                    <div class="mbAlbumTop">
                        <div class="mbAlbumTopbig">
                            <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                        </div>
                        <div class="mbAlbumTopsmall">
                            <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                            <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                        </div>
                    </div>
                    <div class="mbAlbumSmall mt5">
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                    </div>
                    <div class="titleh3 graycolor"><a href="#" title="">我的相册</a> <span class="more">(4张)</span></div>
                    <p>更新时间：2014-11-11</p>
                </li>
                <li>
                    <div class="mbAlbumTop">
                        <div class="mbAlbumTopbig">
                            <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                        </div>
                        <div class="mbAlbumTopsmall">
                            <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                            <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                        </div>
                    </div>
                    <div class="mbAlbumSmall mt5">
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#"  class="ml3"><img src="i../Public/mages/albumimgsmall_03.jpg"/></a>
                    </div>
                    <div class="titleh3 graycolor"><a href="#" title="">我的相册 </a><span class="more">(4张)</span></div>
                    <p>更新时间：2014-11-11</p>
                </li>
                <li>
                    <div class="mbAlbumTop">
                        <div class="mbAlbumTopbig">
                            <a href="#"><img src="../Public/images/alblumbig_03.png" /></a>
                        </div>
                        <div class="mbAlbumTopsmall">
                            <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                            <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" class="mt5" /></a>
                        </div>
                    </div>
                    <div class="mbAlbumSmall mt5">
                        <a href="#"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#" class="ml3"><img src="../Public/images/albumimgsmall_03.jpg" /></a>
                        <a href="#"  class="ml3"><img src="../Public/images/albumimgsmall_03.jpg"/></a>
                    </div>
                    <div class="titleh3 graycolor"><a href="#" title="">我的相册</a> <span class="more">(4张)</span></div>
                    <p>更新时间：2014-11-11</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="rightbox mt15">
        <div class="titleh3 graycolor"><a href="#" title="">我的爱秀</a></div>
        <p class="keyword">朋友们叫我小清新 有丰富的平面 经验  欢迎约片 喜欢尝试不同的风格 如果你觉得喜欢我就关注我一下咯<a class="pinkcolor ml25">希望大家多多支持~</a></p>
        <ul class="xiuxiubox">
            <li><a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a></li>
            <li><a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a></li>
            <li><a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a></li>
        </ul>
    </div>
    <div class="rightbox mt15">
        <div class="titleh3 graycolor"><a href="#" title="">我的视频</a></div>
        <ul class="xiuxiubox">
            <li><a href="#" title=""><img src="../Public/images/shiping_03.jpg" /></a></li>
            <li class="pr"><a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                <div class="videotitle">小清新海边照</div>
            </li>
            <li class="pr">
                <a href="#" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                <div class="videotitle">小清新海边照</div>
            </li>
        </ul>
    </div>
    <div class="rightbox mt15">
        <div class="titleh3 graycolor"><a href="#" title="">我的微博</a></div>
        <ul class="comment">
            <li>
                <p><font class="pinkbold"><a href="#">赵明明</a></font><a href="#" title="">报名参加了"<font class="pinkbold">缪诗12星座气质女选拔赛</font>"活动，各位粉丝们快去支付她，给他反投票吧</a></p>
                <p><a href="#" title=""><img src="../Public/images/comimg_03.jpg" /></a></p>
                <p>
                    <span class="commtime">一个月前</span>
                    <span class="operating"><a href="#" title="">赞</a>｜<a href="#" title="">转发</a>｜<a href="#" title="">评论</a></span></p>
            </li>
            <li>
                <p><font class="pinkbold"><a href="#">赵明明</a></font><a href="#" title="">报名参加了"<font class="pinkbold">缪诗12星座气质女选拔赛</font>"活动，各位粉丝们快去支付她，给他反投票吧</a></p>
                <p><a href="#" title=""><img src="../Public/images/comimg_03.jpg" /></a></p>
                <p>
                    <span class="commtime">一个月前</span>
                    <span class="operating"><a href="#" title="">赞</a>｜<a href="#" title="">转发</a>｜<a href="#" title="">评论</a></span></p>
            </li>

        </ul>
    </div>

</eq>

