<div class="rbigmin ">  
                <div class="applyhistory">
                    <div class="title clearfix">
                        <h2 class="balance-h2">发送的面试邀请<span class="a-tip">(最近1天发送的面试邀请  <span class="red">0</span> 条，共发送40条面试邀请)</span>
                        </h2>
                        
                    </div>
                    <table class="qz">
                    <tbody>
                        <tr>
                            <th width="50px">&nbsp;</th>
                            <th width="100px">姓名</th>
                            <th width="80px">性别</th>
                             <th width="80px">年龄</th>
                            <th width="200px" class="textcenter">职业类型</th>
                            <th width="250px" class="textcenter">风格</th>
                            <th width="100px">发送时间</th>
                            <th width="93px">操作</th>
                        </tr>
                        <tr class="bg1">
                                                                                                                 <tr>
                             <td class=" "><input name="" type="checkbox" value="" class="ml20" /></td>
                             <td class=" ">
                                <a href="#" target="_blank" title="赵明明">赵明明</a>
                             </td>
                            <td class=" ">女</td>
                            <td class=" ">22</td>
                            <td class="textcenter">平面模特、t台模特</td>
                            <td class="textcenter">欧美、英伦、韩版</td>
                            <td class=" ">3023-22-22</td>
                            <td class=" ">
                              <a href="#" target="_blank">删除</a>
                            </td>
                            <!-- <td><a href="javascript:DeleteDownload('entity.ID');">删除</a></td> -->
                        </tr>
                     </tbody>
                 </table>
                  <div class="area_cz3">
                       <input type="checkbox" onclick="SelectAllCheckBox(this)" class="checkqx mr10">全选
                      <input type="button" class="btn-v2" onclick="javascript:DeleteAllApply();" value="删除选中项">
                 </div>       
                <div class="pagerout">
                    <div class="pager pinkpager">
                        <strong><span>1</span></strong>
                        <a href="#"><span>2</span></a>
                        <a href="#"><span>3</span></a>
                        <a href="#"><span>4</span></a>
                        <a href="#"><span>5</span></a>
                        <a href="#"><span>6</span></a>
                        <a href="#"><span>7</span></a>
                        <a href="#"><span>8</span></a>
                        <a class="next" href="#"><span>下一页</span></a>
                 
                    </div>
                </div>
                <p class="none" style="display:block">您可以去简历库查找您想要的简历，<a href="corporatembxiazajianliLib.html" target="_blank" class="pinkcolor">现在就去</a></p>
            </div>
           </div>