<include file="User:header"/>
{__NOLAYOUT__}
<link href="../Public/css/login.css" rel="stylesheet" type="text/css" />
  <link href="../Public/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="w940">
	<div class="lHeader">
    <div class="lLogo"> 
        <a href="/" target="_blank" class="lo_login">秀工场</a>
    </div>
    <div class="logintext"> <a href="/">返回首页</a></div>
  </div>

   <form method="post" action="{:URL('User-Login/dologin')}">
  	<div class="lRight">
    	<div class="logininfo">
            <div class="login_name"><b>会员登录</b></div>
            <div class="wrongtxt">
            	<div id="logintit" class="logintit" style="display:none;">
                	<span class="red">账号认证冲突！请选择账户类型</span><br>
                    <input name="loginflag" type="radio" value="2" onClick="showSelectLoginFlag(false);" id="loginflag2"><label for="loginflag2">手机号</label>
                    <input name="loginflag" type="radio" value="1" onClick="showSelectLoginFlag(false);" id="loginflag1"><label for="loginflag1">用户名</label>
                </div>
            	
            	<span style="display: none;" class="wrong_bg" id="tipDiv">用户名或密码错误</span>
            </div>
            <p>
            	<i>账户名</i><input name="username" id="txtusername" class="pass_box c_ccc" type="text" value="用户名/电子邮箱/手机号码" placeholderval="用户名/电子邮箱/手机号码" autocomplete="off" onFocus="if(this.value == this.defaultValue)this.value='';" onBlur="if(this.value == '')this.value = this.defaultValue;">
            </p>
            <p id="passwordp">
            	<i>密码</i><input name="password" id="txtpwd" class="pass_box c_ccc pw" type="password" value="请输入密码" autocomplete="off" maxlength="16" onFocus="if(this.value == this.defaultValue)this.value='';" onBlur="if(this.value == '')this.value = this.defaultValue;">
            </p>

            <i>&nbsp;</i><label><input name="isremember" id="isremember" value="on" type="checkbox"> <span class="c3">记住密码，公共场所谨慎！</span></label>
            <a href="#" target="_blank">找回密码</a>
            <div class="an">
                <input type="hidden" id="forward" name="forward" value="{:U('Index/index')}"/>
            	<input name="" type="submit" class="rBtn rBtn1" value="登录">
            </div>
	        <div class="zc"> 还不是vip会员？<a href="#" target="_blank">立即申请</a><a href="{:U('Register/index')}" target="_blank">注册秀工场会员</a></div>
        </div>
    </div>
  </form>
  <div id="2002"><a style="float:left;width:578px;height:354px;background:url(../Public/images/jz.jpg) 0 0 no-repeat;display:block;" href="#" target="_blank"></a></div>
  <div class="clear"> </div>
  <div class="hot_phone">
  	<span style="float:right; color:#c200a3; width:345px; display:inline-block">【提示】如访问VIP中心速度较慢，<a target="_blank" href="#">请点这里</a></span>全国客服电话：<strong>4007585858</strong>
  </div>
</div>
<div class="lFooter">
	<p> <a href="#" target="_blank">关于秀工场</a>|<a href="#" target="_blank">服务条款</a>|<a href="#" target="_blank">vip服务</a>|<a href="#" target="_blank">广告服务</a>|<a href="#" target="_blank">联系客服</a></p>
     <div class="foot-nav"><p>© 2014  5xiu5xiu.com 版权所有  <a href="javascript:void(0)"> 浙ICP备12040835号</a></p></div>
</div>
<include file="Home:message" />
<!--返回顶部-->
<include file="Home:goTop" />
</body>
</html>
