<div class="rightbox">
                <div class="rHead">
                    <div class="xinxi-title pr">
                            <ul class="clearfix" id="details-ul">
                                <li class="hover"><a href="javascript:void(0);" id="zx">机构相册</a></li>
                              
                            </ul>
                            <ul class="mm-upload-but">
                            <li>
                                <a href="javascript:void(0)" class="mm-create-photo">创建相册</a>
                            </li>
                            <li>
                                <a href="{:U('Photocate/add')}" class="mm-upload-photo">上传照片</a>
                            </li>
                            </ul>
                        </div>

                 <div class="titleh3 graycolor">
                 <a href="" class="btn mm-link-albumorder ml15">相册排序</a>
                 <span class="mr10">
                 <input name="" type="checkbox" value="" />
                 <a href="{:U('Photocate/index',array('sort'=>'updatetime'))}">更新时间</a>
                 </span>
                 <span class="mr10">
                 <input name="" type="checkbox" value="" />
                 <a href="{:U('Photocate/index',array('sort'=>'createtime'))}">建立时间</a>
                 </span>
                 <span class="mr10">
                 <input name="" type="checkbox" value="" />
                 <a href="{:U('Photocate/index',array('sort'=>'name'))}">相册名称</a>
                 </span>
                 <span class="mr10">
                 <input name="" type="checkbox" value="" />
                 <a href="{:U('Photocate/index',array('sort'=>'total'))}">照片数量</a>
                 </span>
                </div>
                <div class="mbAlbum">
                    <ul>
                        <volist name="list" id="vo" key="k">
                        <li>
                            <p class="mm-png-24"></p>
                            <p class="mm-photo-tool">
                                                    <a href="javarscript:void(0)" onclick="edit({$vo.id})" class="J_MM_edit" data-isalbum="false" data-canflg="false"><i></i>编辑</a>
                    
                    <a href="{:U('Photocate/del',array('id'=>$vo['id']))}" class="J_MM_delate"><i></i>删除</a>
                              </p>
                            <div class="mbAlbumTop">
                                <div class="mbAlbumTopbig">
                                 <a href="{:U('Photocate/show',array('id'=>$vo['id']))}"><img src="<eq name="vo['master']" value="">../Public/images/matx_03.jpg<else />{$vo.master}</eq>"  width="145" height="147"/></a>
                                </div>
                                <div class="mbAlbumTopsmall">
                                    <a href="{:U('Photocate/show',array('id'=>$vo['id']))}"><img src="<eq name="vo['list'][0]['url']" value="">../Public/images/matx_03.jpg<else />{$vo['list'][0]['url']}</eq>"  width="70" height="70"/></a>
                                    <a href="{:U('Photocate/show',array('id'=>$vo['id']))}"><img src="<eq name="vo['list'][1]['url']" value="">../Public/images/matx_03.jpg<else />{$vo['list'][1]['url']}</eq>" class="mt5"  width="70" height="70"/></a>
                                </div>
                            </div>
                            <div class="mbAlbumSmall mt5">
                             <a href="{:U('Photocate/show',array('id'=>$vo['id']))}"><img src="<eq name="vo['list'][2]['url']" value="">../Public/images/matx_03.jpg<else />{$vo['list'][2]['url']}</eq>"  width="70" height="70"/></a>
                             <a href="{:U('Photocate/show',array('id'=>$vo['id']))}" class="ml3"><img src="<eq name="vo['list'][3]['url']" value="">../Public/images/matx_03.jpg<else />{$vo['list'][3]['url']}</eq>"  width="70" height="70"/></a>
                             <a href="{:U('Photocate/show',array('id'=>$vo['id']))}"  class="ml3"><img src="<eq name="vo['list'][4]['url']" value="">../Public/images/matx_03.jpg<else />{$vo['list'][4]['url']}</eq>" width="70" height="70"/></a>
                            </div>
                            <div class="titleh3 graycolor"><a href="#" title="">{$vo.name}</a> <span class="more">({$vo.total}张)</span></div>
                            <p>更新时间：{$vo['updatetime']|date="Y-m-d",###}</p>
                        </li>
                    </volist>
                        
                        
                        
                        
                    </ul>
                </div>
                <div class="pagerout">
                    <div class="pager pinkpager">
                        {$pages}
                       <!--  <strong><span>1</span></strong>
                        <a href="#"><span>2</span></a>
                        <a href="#"><span>3</span></a>
                        <a href="#"><span>4</span></a>
                        <a href="#"><span>5</span></a>
                        <a href="#"><span>6</span></a>
                        <a href="#"><span>7</span></a>
                        <a href="#"><span>8</span></a>
                        <a class="next" href="#"><span>下一页</span></a> -->
                    <!--点击上一页添加样式prevC--><!--点击下一页添加样式nextC-->
                    <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                    </div>
               </div>
            </div>
            <div id="popcontent" style="display:none">
                <form id="myform" method="post" action="{:U('Photocate/save')}">
            <div class="ks-contentbox">  
        <h4 class="mm-o-win-title"><strong>创建相册</strong><i class="mm-o-win-close"></i></h4>
        <div class="mm-o-win-content"><div class="edit-box">         
            <div class="album-name clear-float">         
                <label for="J_VideoName"><em class="mm-red-font">*</em>相册名称:</label>      
                <div class="input-text-wrap">          
                    <input type="text" class="J_VideoName" name="name" id="pop_name" value="223424">      
                </div>      
                <span class="len-ctrl">
                    <span class="J_CurLen mm-namel">0</span>/<span class="J_MaxLen">20</span></span>      
            </div>      
            <div class="album-name-promt" style="display:none">
                <span class="error" id="J_Number">字数在20以内</span>
            </div>   
            <div class="album-story clear-float">        
                <label for="J_VideoStory">相册故事:</label>     
                <div class="input-text-wrap">        
                    <textarea class="J_VideoStory" name="desc" id="pop_desc"></textarea>     
                </div>        
                <span class="len-ctrl">
                    <span class="J_CurLen mm-storyl">0</span>/<span class="J_MaxLen">100</span></span>    
             </div>   
            <div class="album-name clear-float">          
                <label for="J_VideoLink"><em class="mm-red-font">*</em>相册标签 :</label>       
                <div class="input-text-wrap">          
                    <input type="text"  class="J_VideoLink" name="keywords" id="pop_keywords">     
                </div>     
                <span class="len-ctrl">空格隔开 </span>    
            </div>    
                
             <div class="album-story-promt" style="display:none">
                <span class="error" id="J_Story">字数在100以内</span>
             </div>    
             <div class="error-info" style="width: 300px; margin: 2px auto; display: none;">
                <span id="J_sysError" class="error" style="height:auto"></span>
             </div>    
             <p class="but-too">
                <input type="hidden" name="id" value="0" id="pop_id"/>
                <button class="btn-pink mm-sure" id="J_createSure" type="submit">确定</button><input class="btn mm-cancel close" id="J_createCancel" type="button" value="取消">
             </p>   
          </div>
       </div>
     </div>
     </form>
    </div>

            <script type="text/javascript">

            var content ={$jsoncontent};
            var html = $('#popcontent').html();
            $('.addAlbum').html(html);
            
            $('#J_createCancel').click(function(){
            $('.ks-ext-mask').hide();
            $('.addPicture').hide();
            $('.addVideo').hide();
            $('.addAlbum').hide();
            });

            $('.mm-create-photo').click(function(){
                $('#pop_name').val("");
                $("#pop_desc").val("");
                $("#pop_keywords").val("");
                $("#pop_id").val("0");
            });


            function edit(catid)
            {
                for(var i=0;i<content.length;i++)
                {
                    if(content[i]['id'] == catid)
                    {
                        $('#pop_name').val(content[i]['name']);
                        $("#pop_desc").val(content[i]['desc']);
                        $("#pop_keywords").val(content[i]['keywords']);
                        $("#pop_id").val(content[i]['id']);
                        break;
                    }
                }
            }


            </script>
           