
{$title}

<div>
  <form action="{:U('UserTest/save')}" name="postform" id="postform" method="post">
 <input  type="text"  name="uname" /><br/>
 <input type="text" name="pwd"/> <br/>
  <input name="" type="submit" class="rBtn1"  value="提交" />
  </form>
 
</div>

