 <div class="memberright memberadright bdgray">
        	<!--<div class="maTitle marightTitle"><a href="#" title="" class="home">首页</a> > <a href="#" title="" >我的模卡</a></div>-->
			
            <div class="rbigmin">
            	<ul id="ListDiv" class="wallno1">
				
                	<li>
                    <p class="mm-png-24"></p>
                    <p class="mm-photo-tool">
                        <a href="#" class="J_MM_edit" data-isalbum="false" data-canflg="false"><i></i>编辑</a>
                        <a href="#" class="J_MM_delate"><i></i>删除</a>
                    </p>
                    <a href="memberHwodemokaShow.html"><img src="../Public/images/moka1.jpg"></a>
                    </li>
					
					<!--
                    <li>
                    <p class="mm-png-24"></p>
                    <p class="mm-photo-tool">
                        <a href="#" class="J_MM_edit" data-isalbum="false" data-canflg="false"><i></i>编辑</a>
                        <a href="#" class="J_MM_delate"><i></i>删除</a>
                    </p>
                    <a href="memberHwodemokaShow.html"><img src="../Public/images/moka1.jpg"></a>
                    </li>
					
                    <li>
                    <p class="mm-png-24"></p>
                    <p class="mm-photo-tool">
                        <a href="#" class="J_MM_edit" data-isalbum="false" data-canflg="false"><i></i>编辑</a>
                        <a href="#" class="J_MM_delate"><i></i>删除</a>
                    </p>
                    <a href="memberHwodemokaShow.html"><img src="../Public/images/moka1.jpg"></a>
                    </li>
					
                    <li>
                    <p class="mm-png-24"></p>
                    <p class="mm-photo-tool">
                        <a href="#" class="J_MM_edit" data-isalbum="false" data-canflg="false"><i></i>编辑</a>
                        <a href="#" class="J_MM_delate"><i></i>删除</a>
                    </p>
                    <a href="memberHwodemokaShow.html"><img src="../Public/images//moka1.jpg"></a>
                    </li>
					-->
					
                </ul>
            	<div class="card_guide">
                	<div class="zzmtk"><p><a href="{:U('UserMoKa/show')}">&nbsp;</a></p><b>[ <a href="#">点击查看模特卡展示</a> ]</b></div>
                    <h3>秀工场
模特卡在线制作（DIY国际标准模特卡）</h3>
                    <h4>一、模特卡制作简介:</h4>
                    <ul>
                      <li>1.先注册登陆自己的帐号,填写自己的档案资料。（它的内容包括模特儿的身型数据，如身高、体重、三围） </li>
                      <li>2.选择模版(目前有6种国际尺寸的模板)</li>
                      <li>3.上传照片。（切割换图片） </li>
                      <li>4.自动生成模特卡（自动生成卡号和二维码,可供手机拍摄直接打开） </li>
                    </ul>
                    <h4>二、如何做一张精美的模特卡:</h4>
                    <div class="sidaber">
                    	    <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr class="a1">
                                  <th width="270" height="40">优<span>秀</span></th>
                                  <th width="250" height="40">良<span>好</span></th>
                                  <th width="250" height="40">一<span>般</span></th></tr>
                                <tr><td><img src="../Public/images/help_tu1.gif"></td><td><img src="../Public/images/help_tu1.gif"></td><td><img src="../Public/images/help_tu1.gif"></td></tr>
                                </tbody>
                            </table>
                            <table class="a2" border="0" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                <td width="266" height="20">1.封面选择一张华丽的面部特写，印象好；</td><td width="255">1.许多半身像，没有完整的印象；</td><td width="229">1.全是大头照，印象很差；</td></tr>
                                <tr><td height="20">2.其它图片尽可能全身照，个人资料完善；</td><td>2.封面没有视觉冲击力；</td><td>2.封面没有吸引力；</td></tr>
                                <tr><td height="20">3.时尚品位的着装，优美挺拔的各角姿势；</td><td>3.着装一般，姿势僵硬，角度单一；</td><td>3.面部扭曲，表情古怪；</td></tr>
                                <tr><td height="20">4.图像清晰，浅色干净的背景，人物寄出。</td><td>4.深色杂乱的背景，消融了人物型体。</td><td>4.图像模糊，消极的颜色令人丧失好感。</td></tr>
                                </tbody>
                           </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
	
	