<div class="memberleft bdgray">
    <div class="maTitle maleftTitle"><a href="{:U('Index/index')}" title="">机构中心</a></div>
    <div class="mdavatar">
        <p><a href="#" title="更改头像"><img src="{$avatar}" width="100" height="100"/></a></p>
        <p><a href="#" title="">{$realname}</a><a href="#" class="Leveltag"></a></p>
        <p><a href="#" class="notCertified">未认证</a></p>
    </div>
    <div class="mbPopularity">
        <ul class="mbPopularityTop">
            <li>
                <span class="pinknum">2000</span>
                <p>人气</p>
            </li>
            <li class="mbPopularityCenter">
                <span class="pinknum">2000</span>
                <p><a href="#" title="">粉丝</a></p>
            </li>
            <li>
                <span class="pinknum">2000</span>
                <p><a href="#" title="">关注</a></p>
            </li>
        </ul>
    </div>
    <div class="maColumn">
        <dl>
            <dt class="on">机构资料</dt>
            <dd>
                <a href="{:U('Basic/index')}">基本信息</a>
                <a href="{:U('RenZheng/index')}">机构认证</a>
            </dd>
        </dl>
        <dl>
            <dt>机构展示</dt>
            <dd>
                <a href="{:U('Huodong/index')}">机构活动</a>
                <a href="{:U('News/index')}">机构动态</a>
                <a href="{:U('Photocate/index')}">机构相册</a>
                <a href="{:U('Video/index')}">机构视频</a>
                <a href="http://weibo.com/guide/welcome" target="_blank">机构微博</a>

            </dd>
        </dl>

        <dl>
            <dt>机构招聘</dt>
            <dd>
                <a href="{:U('Jobtwo/index')}">招聘信息</a>
                <a href="{:U('Jobtwo/down')}">下载简历</a>
                <a href="{:U('Jobtwo/mianshi')}">面试邀请</a>

            </dd>
        </dl>
        <dl>
            <dt>我的互动</dt>
            <dd>
                <a href="{:U('Huidong/pinglun')}">我的评论</a>
                <a href="{:U('Huidong/liwu')}">我的礼物</a>
                <a href="{:U('Huidong/xiuyou')}">我的秀友</a>
                <a href="{:U('Huidong/xiaoxi')}">我的消息</a>
                <a href="{:U('Huidong/fav')}">我的收藏</a>
            </dd>
        </dl>
        <dl>
            <dt>帐户管理</dt>
            <dd>
                <a href="{:U('Money/index')}">我的资金</a>
                <a href="{:U('Jifen/index')}">我的秀币</a>
                <a href="{:U('Pay/index')}">充值中心</a>
                <a href="{:U('Yaoqing/index')}">邀请好友赚秀币</a>
            </dd>
        </dl>
        <dl>
            <dt>客服中心</dt>

        </dl>
    </div>
</div>