<div class="rightbox ">
                <div class="rHead">
                <div class="xinxi-title pr">
                    <ul class="clearfix" id="details-ul">
                        <li class="hover"><a href="javascript:void(0);" id="zx">机构视频</a></li> 
                        
                    </ul>
                    <ul class="mm-upload-but">
                   <li> <a href="javascript:void(0);" id="btn-add-new-video" class="mm-create-photo">添加视频</a></li>
                    </ul>
                 </div>
                <ul class="xiuxiubox">     
                        <volist name="list" id="vo" key="k">
                        <li class="pr">
                            <p class="mm-png-24"></p>
                            <p class="mm-photo-tool">
                            <a href="javascript:void(0)" class="J_MM_edit" data-isalbum="false" onclick="edit({$vo.id})" data-canflg="false"><i></i>编辑</a>
                            <a href="{:U('Video/del',array('id'=>$vo['id']))}" class="J_MM_delate"><i></i>删除</a>
                            </p>
                            <a href="{:U('Video/show',array('id'=>$vo['id']))}" title=""><img src="../Public/images/xiuimg.jpg" /></a>
                            <div class="videotitle">{$vo.name}</div>
                            <div class="xiuxiuGray">
                            <a href="{:U('Video/show',array('id'=>$vo['id']))}" title=""><img src="../Public/images/shiping_03.jpg" /></a>
                            </div>
                         </li>
                        </volist>
                       
                         
                
                    </ul>
                </div>
                <div class="pagerout">
                    <div class="pager pinkpager">
                        {$pages}
                        
                    </div>
               </div>
            </div>
            <div id="popcontent" style="display:none">
                <form id="myform" method="post" action="{:U('Video/save')}">
            <div class="ks-contentbox">  
        <h4 class="mm-o-win-title"><strong>添加视频</strong><i class="mm-o-win-close"></i></h4>
        <div class="mm-o-win-content"><div class="edit-box">         
            <div class="album-name clear-float">         
                <label for="J_VideoName"><em class="mm-red-font">*</em>视频名称:</label>      
                <div class="input-text-wrap">          
                    <input type="text" class="J_VideoName" name="name" id="pop_name" value="223424">      
                </div>      
                <span class="len-ctrl">
                    <span class="J_CurLen mm-namel">0</span>/<span class="J_MaxLen">20</span></span>      
            </div>      
            <div class="album-name-promt" style="display:none">
                <span class="error" id="J_Number">字数在20以内</span>
            </div>   
             <div class="album-name clear-float">          
                <label for="J_VideoLink"><em class="mm-red-font">*</em>视频链接:</label>       
                <div class="input-text-wrap">          
                    <input type="text"  class="J_VideoLink" name="url" id="pop_url">     
                </div>  
                <span class="len-ctrl">
                    <a href="javascript:void(0)" >说明 </a> 
                </span>    
                
            </div> 
            <div class="album-story clear-float">        
                <label for="J_VideoStory">视频描述:</label>     
                <div class="input-text-wrap">        
                    <textarea class="J_VideoStory" name="desc" id="pop_desc"></textarea>     
                </div>        
                <span class="len-ctrl">
                    <span class="J_CurLen mm-storyl">0</span>/<span class="J_MaxLen">100</span></span>    
             </div>   
              
                
             <div class="album-story-promt" style="display:none">
                <span class="error" id="J_Story">字数在100以内</span>
             </div>    
             <div class="error-info" style="width: 300px; margin: 2px auto; display: none;">
                <span id="J_sysError" class="error" style="height:auto"></span>
             </div>    
             <p class="but-too">
                <input type="hidden" name="id" value="0" id="pop_id"/>
                <button class="btn-pink mm-sure" id="J_createSure" type="submit">确定</button><input class="btn mm-cancel close" id="J_createCancel" type="button" value="取消">
             </p>   
          </div>
       </div>
     </div>
     </form>
    </div>


    <script type="text/javascript">

            var content ={$jsoncontent};
            var html = $('#popcontent').html();

            $('.addAlbum').html(html);
            
            $('#J_createCancel').click(function(){
            $('.ks-ext-mask').hide();
            $('.addPicture').hide();
            $('.addVideo').hide();
            $('.addAlbum').hide();
            });

            $('.mm-create-photo').click(function(){
                $('#pop_name').val("");
                $("#pop_desc").val("");
                $("#pop_url").val("");
                $("#pop_id").val("0");
            });


            function edit(catid)
            {
                for(var i=0;i<content.length;i++)
                {
                    if(content[i]['id'] == catid)
                    {
                        $('#pop_name').val(content[i]['name']);
                        $("#pop_desc").val(content[i]['desc']);
                        $("#pop_url").val(content[i]['url']);
                        $("#pop_id").val(content[i]['id']);
                        break;
                    }
                }
            }


            </script>