<div class="rbigmin">
                <div class="rbigmin">
                <div class="rHead">
                      <div class="mtabContentBox">
                            <div class="xinxi-title">
                            <ul class="clearfix" id="details-ul">
                                <li class="hover"><a href="javascript:void(0);" id="zx">邀请注册</a></li>
                                <li><a href="#">邀请注册列表</a></li>
                              
                            </ul>
                         </div>
                         <!--邀请注册-->
                          <div class="mtabContent">
                                <div class="newpayr">
                                    <div class="yqmb">
                                        <div class="yq_m">
                                          <div class="yq_l"><img src="../Public/images/y_photo1.gif"></div>
                                          <div class="yq_r">
                                            <h2>复制链接发送给qq/微博/邮箱好友</h2>
                                            <div class="yq-url" style="width:95%">http://www.5xiu5xiu.com{:URL('User-Register/index')}</div>
                                            <div class="in_a1">
                                              <input type="submit" value="复制链接" onclick="clipboardData.setData('text', $('.yq-url').html());alert('复制成功！');return false;">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="yq_bottom">
                                           
                                            <p><b>1、邀请所需资格：</b>秀工场模特注册会员即可发送邀请链接（秀工场模特大赛参赛选手另有惊喜）<br>
                                              <b>2、邀请方式：</b><br>
                                              1、进入会员中心后，点击邀请注册可显示邀请链接；<br>
                                             
                                              点击复制邀请地址按钮，即可将邀请链接复制到剪切板（谷歌浏览器不能通过点击按钮复制，请手动全选链接后复制），然后通过QQ、邮箱等方式发送给朋友，朋友们就可以通过这个链接加入秀工场模特！<br>
                                              <b>3、邀请对象</b><br>
                                              1、模特，演员，歌手，主持人 等相关演艺界人士（男175cm以上，女160cm以上）；<br>
                                              2、正确填写个人资料档案，正确的邮箱和手机号码；<br>
                                              3、清晰照片不低于6张；<br>
                                              4、从未注册过秀工场。<br>
                                              <em>* 温馨提示：通过邀请链接注册会员通过审核后（后台人工审核）</em><br>
                                              <strong>成功注册并通过审核后邀请人可获得：</strong>5个秀币<br>
                                              
                                              
                                              
                                          
                                        </div>
                                    </div>
                                    
                                </div>
                          </div>
                        <!--邀请注册列表-->
                        <div class="mtabContent" style="display:none">
                            <div class="newpayr">
                                <div class="tiofpay">邀请注册情况</div>
                                <div class="contpay">
                                    <div class="alin1">
                                        <p>被邀请人姓名</p>
                                        <p>被邀请人</p>
                                        <p>审核状态</p>
                                        <p>增加秀币</p>  
                                        <em class="em2sv">备注</em>
                                    </div>
                                    <div class="alin2">
                                        <div class="cl"></div>
                                        <span id="LogList"></span>
                                        <div class="cl"></div>
                                    </div>
                                    <div class="pagerout">
                                            <div class="pager">
                                                <strong><span>1</span></strong>
                                                <a href="#"><span>2</span></a>
                                                <a href="#"><span>3</span></a>
                                                <a href="#"><span>4</span></a>
                                                <a href="#"><span>5</span></a>
                                                <a href="#"><span>6</span></a>
                                                <a href="#"><span>7</span></a>
                                                <a href="#"><span>8</span></a>
                                                <a class="next" href="#"><span>下一页</span></a>
                                            <!--当前页添加样式currentPage，已点击页码添加样式readPage-->
                                            </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                       
                        
                      </div>
                </div>
            </div>
            </div>