<p class="mb10"><img alt="" src="../Public/images/rm0.jpg" style="width:1000px"></p>
    <div class="memberbox grid-activity-detail">            
       <div class="col-con clearfix">
            <div class="col-main">
                <div class="main-wrap">
                    <div class="activity-intro">
                        <p class="activity-name">【海尔统帅阿里云】招募新宅主义代言，为新宅主义扎堆！</p>
                        <div class="ks-editor-post">
                            <p>活动时间：2013年12月10日——2014年1月1日</p>
                            <p>海尔统帅阿里云电视年末巨献！活动期间百万流量曝光，开启未来云生活，定义新宅！</p>
                            <p class="ml10 mt10"><img alt="" src="../Public/images/rm1.jpg"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sub">
                <div class="activity-info ">
                    <h6><img alt="活动时间" src="../Public/images/T1Yy8NXiFQXXXXXXXX-79-23.gif"></h6>
                    <p><strong>开&nbsp;&nbsp;&nbsp;&nbsp;始：</strong>2013年12月11日</p>
                    <p><strong>截&nbsp;&nbsp;&nbsp;&nbsp;止：</strong>2013年12月21日</p>
                    <p class="status">决赛<strong>暂停中</strong></p>
                    <p><a class="detail" target="_blank" href="#">查看活动详情<strong class="arrows">&nbsp;&gt;</strong></a></p>
                    <p class="apply"><a href="corporatembHjigouhuodongSign.html"><span class="but-dis"><span>我要报名</span></span></a></p><br>
                </div>
                <div class="prize">
                    <p><strong>招募地域：</strong>全国</p>
                    <p class="mm-total"><strong>招募人数：</strong><span class="mm-total">10 </span>人</p>
                    <h6><img alt="奖项设置" src="../Public/images/T15ldNXn4aXXXXXXXX-79-22.gif"></h6>
                    <div class="prize-d">
                        <p><strong>扎堆王奖:</strong></p>
                        <p>价值1000元的海尔家电！</p>
                                        <p><strong>入围扎堆奖:</strong></p>
                        <p>价值500元的海尔家电！</p>
                                        <p><strong>最赞宅照片奖:</strong></p>
                        <p>价值498元的海尔小家电套餐！</p>
                  </div>
                </div>
            </div>
       </div> 
       <!--大家都在关注的活动-->     
       <div class="mm-p-recommend">
            <h4>活动参赛选手</h4>
            <ul class="mm-p-list mm-p-list_hd">
                <li>
                    <span><a href="#" target="_blank">
                        <img src="../Public/images/T10cF3XfpqXXb1upjX_160x160.jpg" width="180px">
                        </a>
                    </span>
                    <p class="mm-name"><a href="#" target="_blank">陈静</a></p>
                    <p class="mm-no"><span><span>254号</span></span></p>
                    <p class="mm-from">广州市 &nbsp;/&nbsp;公司职员</p>
                    <p class="mm-moods"> <strong>决赛：</strong><span id="vote_276453985_juesai_num">0</span>&nbsp;票 </p>
                    <p class="mm-dec"><span>以宅应万变</span></p>
                    <p class="vote"><span class="but-vote"><span>支持她</span></span></p>
                    <div class="clear"></div>
               </li>
                <li>
                    <span><a href="#" target="_blank">
                        <img src="../Public/images/T10cF3XfpqXXb1upjX_160x160.jpg" width="180px">
                        </a>
                    </span>
                    <p class="mm-name"><a href="#" target="_blank">陈静</a></p>
                    <p class="mm-no"><span><span>254号</span></span></p>
                    <p class="mm-from">广州市 &nbsp;/&nbsp;公司职员</p>
                    <p class="mm-moods"> <strong>决赛：</strong><span id="vote_276453985_juesai_num">0</span>&nbsp;票 </p>
                    <p class="mm-dec"><span>以宅应万变</span></p>
                    <p class="vote"><span class="but-vote"><span>支持她</span></span></p>
                    <div class="clear"></div>
               </li>
                <li>
                    <span><a href="#" target="_blank">
                        <img src="../Public/images/T10cF3XfpqXXb1upjX_160x160.jpg" width="180px">
                        </a>
                    </span>
                    <p class="mm-name"><a href="#" target="_blank">陈静</a></p>
                    <p class="mm-no"><span><span>254号</span></span></p>
                    <p class="mm-from">广州市 &nbsp;/&nbsp;公司职员</p>
                    <p class="mm-moods"> <strong>决赛：</strong><span id="vote_276453985_juesai_num">0</span>&nbsp;票 </p>
                    <p class="mm-dec"><span>以宅应万变</span></p>
                    <p class="vote"><span class="but-vote"><span>支持她</span></span></p>
                    <div class="clear"></div>
               </li>
                <li>
                    <span><a href="#" target="_blank">
                        <img src="../Public/images/T10cF3XfpqXXb1upjX_160x160.jpg" width="180px">
                        </a>
                    </span>
                    <p class="mm-name"><a href="#" target="_blank">陈静</a></p>
                    <p class="mm-no"><span><span>254号</span></span></p>
                    <p class="mm-from">广州市 &nbsp;/&nbsp;公司职员</p>
                    <p class="mm-moods"> <strong>决赛：</strong><span id="vote_276453985_juesai_num">0</span>&nbsp;票 </p>
                    <p class="mm-dec"><span>以宅应万变</span></p>
                    <p class="vote"><span class="but-vote"><span>支持她</span></span></p>
                    <div class="clear"></div>
               </li>
                <li>
                    <span><a href="#" target="_blank">
                        <img src="../Public/images/T10cF3XfpqXXb1upjX_160x160.jpg" width="180px">
                        </a>
                    </span>
                    <p class="mm-name"><a href="#" target="_blank">陈静</a></p>
                    <p class="mm-no"><span><span>254号</span></span></p>
                    <p class="mm-from">广州市 &nbsp;/&nbsp;公司职员</p>
                    <p class="mm-moods"> <strong>决赛：</strong><span id="vote_276453985_juesai_num">0</span>&nbsp;票 </p>
                    <p class="mm-dec"><span>以宅应万变</span></p>
                    <p class="vote"><span class="but-vote"><span>支持她</span></span></p>
                    <div class="clear"></div>
               </li>        
            </ul>
        </div>
        <div class="clear"></div>
       <div class="pd10">
        <div class="mm-p-comments">
                <h4>全部评论 
                <div class="share">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style fl mr10">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                    <a href="#" class="fr">收藏</a>
                </div>
                 <a href="#" class="mm-p-report">举报</a>
                </h4>
                <div class="comment-widget comment-widgetP0">
                <div class="mm-comment sns-comment sns-widget-ui">
                    <div class="comment-edit">        
                        <div class="comment-add">
                            <div class="textarea-b"><textarea class="f-txt" resize="none" style="" placeholder="我也插句话..." data-lastcursor=""></textarea></div>
                            <div class="act">        
                                <span class="skin-blue">
                                    <em class="J_LetterCount">0/140</em>
                                    <span class="btn"><a href="#" class="J_PostComment">评论</a></span>
                                </span>        
                                <a href="#" class="face">表情</a>                 
                                <label><input type="checkbox" class="J_SycMB"> 同时转发到我的淘宝    </label>            </div>        
                        </div>
                   </div>
                   <ul class="comment-list">
                        <li>
                            <a href="#" target="_blank" class="J_Card">    
                             <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                             <div class="detail">    
                                <p class="words">    
                                    <a class="name J_Card" href="#" target="_blank">ziyewuli</a>还不错哦！！     
                                </p>    
                                <p class="other">    
                                    <span class="opt"><a class="J_ReR" href="#" data-txt="回复@ziyewuli:" >回复</a>   
                                    </span>    
                                    <span class="time">刚刚 - 1楼</span>    
                                </p>    
                             </div>
                         </li>
                   </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="mm-p-recommend">
            <h4>大家都在关注的活动</h4>
            <ul class="mm-p-list mm-p-list_hd">
                <li>
                    <span><a href="{:U('Huodong/show')}" target="_blank">
                        <img src="../Public/images/T10AcIFbRXXXXXXXXX_!!383572699-0-tstar.jpg" width="180px">
                        </a><p>陶女郎</p>
                    </span>                                                                                             
                    <div class="clear"></div>
                </li>
                <li>
                    <span><a href="{:U('Huodong/show')}" target="_blank">
                        <img src="../Public/images/T10AcIFbRXXXXXXXXX_!!383572699-0-tstar.jpg" width="180px">
                        </a><p>陶女郎</p>
                    </span>                                                                                             
                    <div class="clear"></div>
                </li>
                <li>
                    <span><a href="{:U('Huodong/show')}" target="_blank">
                        <img src="../Public/images/T10AcIFbRXXXXXXXXX_!!383572699-0-tstar.jpg" width="180px">
                        </a><p>陶女郎</p>
                    </span>                                                                                             
                    <div class="clear"></div>
                </li>
                <li>
                    <span><a href="{:U('Huodong/show')}" target="_blank">
                        <img src="../Public/images/T10AcIFbRXXXXXXXXX_!!383572699-0-tstar.jpg" width="180px">
                        </a><p>陶女郎</p>
                    </span>                                                                                             
                    <div class="clear"></div>
                </li>
                <li>
                    <span><a href="{:U('Huodong/show')}" target="_blank">
                        <img src="../Public/images/T10AcIFbRXXXXXXXXX_!!383572699-0-tstar.jpg" width="180px">
                        </a><p>陶女郎</p>
                    </span>                                                                                             
                    <div class="clear"></div>
                </li>               
            </ul>
        </div>
        <!--小编推荐开始end--> 
              
    </div>