<div class="memberbox bdgray">
        <div class="rHead apply-activity apply-activityH">
                    <h1 class="textcenter">活动报名填写</h1>
                    <form id="J_form" action="">
                        <p class="group-title">* 个人信息<font class="font12 ml10">必须是真实的信息，方便我们能联系到你</font></p>
                        <dl>
                            <dt>秀工场主页地址：</dt>
                            <dd>                                                                                                                                                <input name="" type="text" class="rText rText1" placeholder="http://mm.taobao.com/911851198.htm"><span class="ml10">秀工场直接显示主页地址，不可编辑</span>
                            </dd>
                            
                        </dl>
                       
                        <dl>
                            <dt>真实姓名：</dt>
                            <dd><input name="" type="text" class="rText rText1">
                            </dd>
                            
                        </dl>
                        <dl>
                            <dt>我的手机号：</dt>
                            <dd>                    
                                <input name="" type="text" class="rText rText1">
                            </dd>
                            
                        </dl>
                        <dl>
                            <dt>报名宣言标题：</dt>
                            <dd>
                                <input name="" type="text" class="rText rText1">
                               
                            </dd>
                            
                        </dl>
                        <div class="clear"></div>
                        <textarea id="editor"></textarea>
                        
                         <p class="preview submit"><input type="submit" id="infoSubmit" value="预览"><input type="submit" value="提交"></p>
                    </form>
                </div>
    </div>