<div class="rightbox">
                <div class="rHead bodym2">
                  <div class="bodym2_bt">
                        <div>
                        <h2>招聘平面模特</h2>
                        <h3>[ 招聘进行中 15天结束   工作城市：广州市 ]</h3></div>
                        <div class="cl"></div>
                   </div>
                   <ul class="bodym2_main">
                        <li><span>职位类别：</span>平面模特|礼仪模特|</li>
                        <li><span>薪资水平：</span>500-1000元/日</li>
                        <li><span>薪资结算：</span>日结</li>  
                        <li><span>招聘人数：</span>不限</li>
                        <li><span>性别要求：</span>女</li>
                        <li><span>身高要求：</span>1.65cm以上</li>
                        <li><span>学历要求：</span>本科及以上</li>
                        <li><span>工作时间：</span>星期一</li>
                        <li><span>截止日期：</span>2013-12-27</li>
                        <li><span>详细地址：</span>杭州下城区</li>
                        <div class="cl"></div>
                        <p><strong>工作内容及要求：</strong>工作内容及要求内容</p>
                  </ul>
               
                  <div class="bodym2_main_a">
                    <div class="bodym2_main_aa fl">
                    <div class="bodym2_main_b"><a href="#" target="_blank">投递简历</a></div></div>
                    <div id="menu" class="dropdown mdisplay fr more-toggle">
                        <a href="#">收藏</a>
                        <a href="#" target="_blank">举报中心</a> 
                         
                   </div>
                   <div class="cl"></div>
                  </div>
                  <div id="preview" class="infoview infoviewH">
                        <p><span class="vtitle">联&nbsp;&nbsp;系&nbsp;&nbsp;人</span><span class="c58">：</span><span id="contactPersonShow">赵明明</span></p>
                        <p><span class="vtitle">联系电话</span><span class="c58">：</span><span id="photoShow"><input type="button" class="showhideBtn publish btn btn-pink" value="点击查看"></button><span class="showhide">1342124234</span></span></p>
                        <p><span class="vtitle">联系邮箱</span><span class="c58">：</span><span id="entEmailShow"><input type="button" class="showhideBtn publish btn btn-pink" value="点击查看"></button><span class="showhide">13423423@qq.com</span></span></p>                               
                    </div>
                     <div class="rHead mt5" id="commShow">
                     <div id="J_comment_list" class="mm-comment sns-comment sns-widget-ui">           
                     <div class="comment-widget">
                      <div class="comment-edit">
                        <div class="comment-add">
                          <div class="textarea-b">
                            <textarea class="f-txt" resize="none" style="" placeholder="我也插句话..."></textarea>    </div>
                            <div class="act">
                              <span class="skin-blue">
                                  <em class="J_LetterCount">0/140</em>
                                    <span class="btn">
                                      <a href="#" class="J_PostComment">评论</a>
                                    </span>
                                 </span>
                                 <a href="#" class="face">表情</a>           
                                  <label>
                                    <input type="checkbox" class="J_SycMB"> 同时转发到我的淘宝    </label>            </div>        
                        </div>
                      </div>
                      <ul class="comment-list">
                        <li>
                          <a href="#" target="_blank" class="J_Card">    <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                          <div class="detail">    
                              <p class="words">    
                                  <a class="name J_Card" href="#" target="_blank">wwww</a>
                                    <span class="mentioned"></span>:
                                    <img src="http://a.tbcdn.cn/app/matrix/face/48fixed.gif" alt="悲泣" title="悲泣" data-face="/:018">     </p>    <p class="other">  
                                <span class="opt"><a class="J_ReR" href="#" data-txt="回复@ziyewuli:">回复</a> </span>
                                    
                               <span class="time">12月5日 9:02 - 2楼</span>    </p>    </div></li>
                      </ul>
                  </div>
               </div>
                 </div>
                <div class="recruit_zptop"><span class="fl">浏览该职位的用户还浏览了</span><a href="{:U('Job/index')}">更多职位&gt;&gt;&gt;</a></div>
                <div class="memberleftRm">
              <ul>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                </ul>
             </div>
                
                
            </div>