<div class="memberbox bdgray">
        
            
            <div class="rightbox">
                <div class="titleh3 graycolor textcenter"><a href="#" title="">招聘信息</a></div>
                <div class="memberleftRm">
                <ul>
                    <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                  <li><a href="{:U('Job/show')}" title="" class="zpname">北京嘉娱帝华娱乐有限公司</a><span class="fl w150">600元/天</span><span class="fl w150">日结</span><span class="fr">2012-12-21</span></li>
                </ul>
                </div>
            
            
            
            
            
            </div>
    </div>