<div class="memberbox bdgray">
            <div class="titleh3 graycolor textcenter"><a href="#" title="">机构视频</a></div>
                <div class="hervideo pr hervideoH">
                    <div class="video-title">夏天拍雪景好开心</div>
                    <div class="video-desc-sep"></div>
                    <div class="video-show">
                        <object width="940" height="500">
                            <param name="movie" value="http://player.youku.com/player.php/sid/XNTg1ODI2NTYw/v.swf">
                            <param name="allowFullScreen" value="true">
                            <param name="wmode" value="opaque">
                            <param name="allowscriptaccess" value="always">
                            <embed wmode="opaque" src="http://player.youku.com/player.php/sid/XNTg1ODI2NTYw/v.swf" type="application/x-shockwave-flash" width="940" height="500" allowscriptaccess="always" allowfullscreen="true">
                        </object>
                    </div>
                    <div class="video-description">夏天拍雪景好开心夏天拍雪景好开心夏天拍雪景好开心</div>
                    <div class="video-info">
                        2013.08.31&nbsp;&nbsp;&nbsp;&nbsp;来自&nbsp;优酷
                        <p class="video-tool">
                             <a href="javascript" class="pre-disable pre-disableH" data-pre="-99">收藏</a>
                            <a href="javascript" class="video-pre pre-disable" data-pre="-99">上一个</a>
                            <a href="javascript" class="video-next" data-next="1107">下一个</a>
                         </p>
                    </div>
                </div>
               
       </div>
    <div class="clear"></div>
     <!--评论开始-->
    <div class="mm-p-comments">
                <h4>全部评论 
                <div class="share">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>
                 <a href="#" class="mm-p-report">举报</a>
                </h4>
                <div class="comment-widget comment-widgetP0">
                <div class="mm-comment sns-comment sns-widget-ui">
                    <div class="comment-edit">        
                        <div class="comment-add">
                            <div class="textarea-b"><textarea class="f-txt" resize="none" style="" placeholder="我也插句话..." data-lastcursor=""></textarea></div>
                            <div class="act">        
                                <span class="skin-blue">
                                    <em class="J_LetterCount">0/140</em>
                                    <span class="btn"><a href="#" class="J_PostComment">评论</a></span>
                                </span>        
                                <a href="#" class="face">表情</a>                 
                                <label><input type="checkbox" class="J_SycMB"> 同时转发到我的淘宝    </label>            </div>        
                        </div>
                   </div>
                   <ul class="comment-list">
                        <li>
                            <a href="#" target="_blank" class="J_Card">    
                             <img class="clogo" src="../Public/images/T1ULHnXexeXXb1upjX_40x40.jpg" alt="" width="40" height="40"></a>    
                             <div class="detail">    
                                <p class="words">    
                                    <a class="name J_Card" href="#" target="_blank">ziyewuli</a>还不错哦！！     
                                </p>    
                                <p class="other">    
                                    <span class="opt"><a class="J_ReR" href="#" data-txt="回复@ziyewuli:" >回复</a>   
                                    </span>    
                                    <span class="time">刚刚 - 1楼</span>    
                                </p>    
                             </div>
                         </li>
                   </ul>
                </div>
                </div>
            </div>
    <!--小编推荐开始-->
    <div class="mm-p-recommend">
        <h4>大家都在关注的视频</h4>
    </div>
    <div class="clear"></div>
    <ul class="xiuxiubox xiuxiubox-list">
        <li><a href="{:U('Video/show')}" title=""><img src="../Public/images/shiping_03.jpg"></a></li>
        <li class="pr"><a href="#" title=""><img src="../Public/images/xiuimg.jpg"></a>
         <div class="videotitle">小清新海边照</div>
         </li>
        <li>
        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg"></a>
        <div class="videotitle">小清新海边照</div>
        </li>
         <li>
        <a href="{:U('Video/show')}" title=""><img src="../Public/images/xiuimg.jpg"></a>
        <div class="videotitle">小清新海边照</div>
        </li>
     </ul>
     <div class="clear"></div>
    <!--小编推荐开始end-->