<div style="clear:both"></div>
<div class="parter">
    <h1><a href="#" target="_blank"><img src="../Public/images/26.png" /></a><span><a href="javascript:void(0)">申请加入</a></span></h1>
    <p>
        <YP:link  typeid="3"  linktype="1" >
            <a href="{$r['siteurl']}"  target="_blank">{$r['name']}</a>-
        </YP:link>
    </p>
</div>
<div class="parter">
    <h1><a href="javascript:void(0)"><img src="../Public/images/28.png" /></a><span><a href="javascript:void(0)">申请加入</a></span></h1>
   <div class="parterlist">
    <YP:link  typeid="2"  linktype="1" >
        <a href="{$r['siteurl']}"  target="_blank">{$r['name']}</a>-
    </YP:link>
    </div>
</div>