
<div class="foot">
    <div class="logo-min"><a href="/"><img src="../Public/images/30.png" /></a></div>
    <div class="helper">
        <dl>
            <dt class="a"><a href="/index.php?a=index&m=Page">帮助中心</a></dt>
            <YP:subcat  catid="26">
                <dd>
                    <a href="{$r.url}">{$r.catname}</a>
                </dd>
            </YP:subcat>
        </dl>
        <dl>
            <dt class="b"><a href="/index.php?a=index&m=Page&id=31">合作加盟</a></dt>
            <YP:subcat  catid="30">
                <dd>
                    <a href="{$r.url}">{$r.catname}</a>
                </dd>
            </YP:subcat>
        </dl>
        <dl>
            <dt class="b"><a href="/index.php?a=index&m=Page&id=35">产品服务</a></dt>
            <YP:subcat  catid="34">
                <dd>
                    <a href="{$r.url}">{$r.catname}</a>
                </dd>
            </YP:subcat>
        </dl>
        <dl>
            <dt class="b"><a href="/index.php?a=index&m=Page&id=39">网站声明</a></dt>
            <YP:subcat  catid="38">
                <dd>
                    <a href="{$r.url}">{$r.catname}</a>
                </dd>
            </YP:subcat>
        </dl>
        <dl>
            <dt class="b"><a href="/index.php?a=index&m=Page&id=42">关注我们</a></dt>
            <YP:subcat  catid="41">
                <dd>
                    <a href="{$r.url}">{$r.catname}</a>
                </dd>
            </YP:subcat>
        </dl>
        <dl>
            <dt class="b"><a href="/index.php?a=index&m=Page&id=11">关于我们</a></dt>
            <YP:subcat  catid="8">
                <dd>
                    <a href="{$r.url}">{$r.catname}</a>
                </dd>
            </YP:subcat>
        </dl>
    </div>
</div>
<div class="foot-nav"><p>© 2014  5xiu5xiu.com 版权所有  <a href="javascript:void(0)"> 浙ICP备12040835号</a></p></div>