<script type="text/javascript">
    $(function($) {

//1
        $(".mm-g-drop-menu,.more,.menu-item-dh").hover(
                function () {
                    $(this).addClass("hover");
                },
                function () {
                    $(this).removeClass("hover");
                });
//2
        $(".xc-tab li,.tt li,.line-bottom a").click(
                function () {
                    $(this).addClass("current");
                    $(this).siblings().removeClass("current");
                });
//5
        $('#jglb').click(
                function () {
                    $('.wapper2').hide();
                    $('.wapper1').show();
                }
        );
        $('#jgzp').click(
                function () {
                    $('.wapper1').hide();
                    $('.wapper2').show();
                }
        );

    });
</script>
<div class="MainContent">
	 <div class="jg-main">
	 		<div class="tt"><ul><li id="jglb" onclick="document.getElementById('jgContent1').style.display='block';document.getElementById('jgContent2').style.display='none';"><a href="javascript:void(0)">机构列表</a></li><li>|</li><li id="jgzp" class="current" onclick="document.getElementById('jgContent2').style.display='block';document.getElementById('jgContent1').style.display='none';"><a href="javascript:void(0)">机构招聘</a></li></ul></div>
			<div id="jgContent1" class="jgContent" style="display:none;">
				<div class="jglx ff">
					<ul><li>机构类型：</li><li><a class="current">全部</a></li><li><a href="javascript:void(0)">经纪公司</a></li><li><a href="javascript:void(0)">传媒机构</a></li><li><a href="javascript:void(0)">模特培训</a></li><li><a href="javascript:void(0)">广告影视</a></li><li><a href="javascript:void(0)">文化创意</a></li><li><a href="javascript:void(0)">品牌传播</a></li><li><a href="javascript:void(0)">摄影机构</a></li><li><a href="javascript:void(0)">电子商务</a></li><li><a href="javascript:void(0)">展览活动</a></li><li><a href="javascript:void(0)">其他机构</a></li><li class="more"><a href="javascript:void(0)">全部<i></i></a><div class="allcity"><dl><dd><a href="javascript:void(0)">经纪公司</a></dd><dd><a href="javascript:void(0)">传媒机构</a></dd><dd><a href="javascript:void(0)">模特培训</a></dd><dd><a href="javascript:void(0)">广告影视</a></dd><dd><a href="javascript:void(0)">文化创意</a></dd><dd><a href="javascript:void(0)">品牌传播</a></dd><dd><a href="javascript:void(0)">摄影机构</a></dd><dd><a href="javascript:void(0)">电子商务</a></dd><dd><a href="javascript:void(0)">展览活动</a></dd></dl></div></li></ul>
				<div style="clear:both;"></div>
				</div>
				<div class="szcs ff">
					<ul><li>所在城市：</li><li><a class="current">全部</a></li><li><a href="javascript:void(0)">北京</a></li><li><a href="javascript:void(0)">广州</a></li><li><a href="javascript:void(0)">上海</a></li><li><a href="javascript:void(0)">成都</a></li><li><a href="javascript:void(0)">武汉</a></li><li><a href="javascript:void(0)">深圳</a></li><li><a href="javascript:void(0)">杭州</a></li><li><a href="javascript:void(0)">天津</a></li><li><a href="javascript:void(0)">长沙</a></li><li><a href="javascript:void(0)">沈阳</a></li><li><a href="javascript:void(0)">南京</a></li><li><a href="javascript:void(0)">郑州</a></li><li><a href="javascript:void(0)">南昌</a></li><li><a href="javascript:void(0)">西安</a></li><li><a href="javascript:void(0)">济南</a></li><li><a href="javascript:void(0)">哈尔滨</a></li><li class="more"><a href="javascript:void(0)">全部<i></i></a><div class="allcity"><dl><dd><a href="javascript:void(0)">长春</a></dd><dd><a href="javascript:void(0)">石家庄</a></dd><dd><a href="javascript:void(0)">呼和浩特</a></dd><dd><a href="javascript:void(0)">合肥</a></dd><dd><a href="javascript:void(0)">福州</a></dd><dd><a href="javascript:void(0)">南昌</a></dd><dd><a href="javascript:void(0)">郑州</a></dd><dd><a href="javascript:void(0)">重庆</a></dd><dd><a href="javascript:void(0)">大连</a></dd><dd><a href="javascript:void(0)">厦门</a></dd><dd><a href="javascript:void(0)">青岛</a></dd><dd><a href="javascript:void(0)">昆明</a></dd><dd><a href="javascript:void(0)">东莞</a></dd><dd><a href="javascript:void(0)">佛山</a></dd><dd><a href="javascript:void(0)">宁波</a></dd><dd><a href="javascript:void(0)">温州</a></dd><dd><a href="javascript:void(0)">绍兴</a></dd><dd><a href="javascript:void(0)">海口</a></dd><dd><a href="javascript:void(0)">泉州</a></dd><dd><a href="javascript:void(0)">贵阳</a></dd><dd><a href="javascript:void(0)">太原</a></dd><dd><a href="javascript:void(0)">金华</a></dd><dd><a href="javascript:void(0)">中山</a></dd><dd><a href="javascript:void(0)">珠海</a></dd><dd><a href="javascript:void(0)">惠州</a></dd><dd><a href="javascript:void(0)">锦州</a></dd><dd><a href="javascript:void(0)">兰州</a></dd><dd><a href="javascript:void(0)">徐州</a></dd><dd><a href="javascript:void(0)">台州</a></dd><dd><a href="javascript:void(0)">常州</a></dd><dd><a href="javascript:void(0)">三亚</a></dd><dd><a href="javascript:void(0)">洛阳</a></dd><dd><a href="javascript:void(0)">嘉兴</a></dd><dd><a href="javascript:void(0)">银川</a></dd><dd><a href="javascript:void(0)">西宁</a></dd><dd><a href="javascript:void(0)">拉萨</a></dd><dd><a href="javascript:void(0)">乌鲁木齐</a></dd><dd><a href="javascript:void(0)">齐齐哈尔</a></dd></dl></div></li></ul>
				<div style="clear:both;"></div>
				</div>
				<div class="city-box">
				<span class="ss">搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索：</span>
				<input id="city_search" class="icon-up" type="text" value=" 请输入机构名称 " domain=""  autocomplete="off" onclick="this.value=''" onblur="this.value='请输入机构名称'" >
				<div class="post-link">寻机构</div>
				<span class="jr">我要加入机构</span>
			    </div>
		    </div>
		    <div id="jgContent2" class="jgContent" style="display:block;">
				<div class="jglx ff">
					<ul><li>招聘类型：</li><li><a class="current" href="javascript:void(0)">全部</a></li><li><a href="javascript:void(0)">T台模特</a></li><li><a href="javascript:void(0)">平面模特</a></li><li><a href="javascript:void(0)">展会模特</a></li><li><a href="javascript:void(0)">广告模特</a></li><li><a href="javascript:void(0)">商务模特</a></li><li><a href="javascript:void(0)">礼仪模特</a></li><li><a href="javascript:void(0)">活动模特</a></li><li><a href="javascript:void(0)">美术模特</a></li><li><a href="javascript:void(0)">视频模特</a></li><li><a href="javascript:void(0)">试衣模特</a></li><li><a href="javascript:void(0)">外籍模特</a></li><li class="more"><a href="javascript:void(0)">全部<i></i></a><div class="allcity2"><dl><dd><a href="javascript:void(0)">T台模特</a></dd><dd><a href="javascript:void(0)">平面模特</a></dd><dd><a href="javascript:void(0)">展会模特</a></dd><dd><a href="javascript:void(0)">广告模特</a></dd><dd><a href="javascript:void(0)">商务模特</a></dd><dd><a href="javascript:void(0)">礼仪模特</a></dd><dd><a href="javascript:void(0)">活动模特</a></dd><dd><a href="javascript:void(0)">美术模特</a></dd><dd><a href="javascript:void(0)">视频模特</a></dd><dd><a href="javascript:void(0)">试衣模特</a></dd><dd><a href="javascript:void(0)">外籍模特</a></dd><dd><a href="javascript:void(0)">人体模特</a></dd><dd><a href="javascript:void(0)">彩妆模特</a></dd><dd><a href="javascript:void(0)">公关模特</a></dd><dd><a href="javascript:void(0)">夜场模特</a></dd><dd><a href="javascript:void(0)">cosplay</a></dd><dd><a href="javascript:void(0)">发模</a></dd><dd><a href="javascript:void(0)">脸模</a></dd><dd><a href="javascript:void(0)">胸模</a></dd><dd><a href="javascript:void(0)">手模</a></dd><dd><a href="javascript:void(0)">腿模</a></dd><dd><a href="javascript:void(0)">脚模</a></dd><dd><a href="javascript:void(0)">童模</a></dd><dd><a href="javascript:void(0)">中老年模特</a></dd><dd><a href="javascript:void(0)">其他模特</a></dd> </dl></div></li></ul>
				<div style="clear:both;"></div>
				</div>
				<div class="szcs ff">
					<ul><li>工作城市：</li><li><a class="current" href="javascript:void(0)">全部</a></li><li><a href="javascript:void(0)">北京</a></li><li><a href="javascript:void(0)">广州</a></li><li><a href="javascript:void(0)">上海</a></li><li><a href="javascript:void(0)">成都</a></li><li><a href="javascript:void(0)">武汉</a></li><li><a href="javascript:void(0)">深圳</a></li><li><a href="javascript:void(0)">杭州</a></li><li><a href="javascript:void(0)">天津</a></li><li><a href="javascript:void(0)">长沙</a></li><li><a href="javascript:void(0)">沈阳</a></li><li><a href="javascript:void(0)">南京</a></li><li><a href="javascript:void(0)">郑州</a></li><li><a href="javascript:void(0)">南昌</a></li><li><a href="javascript:void(0)">西安</a></li><li><a href="javascript:void(0)">济南</a></li><li><a href="javascript:void(0)">哈尔滨</a></li><li class="more"><a href="javascript:void(0)">全部<i></i></a><div class="allcity"><dl><dd><a href="javascript:void(0)">长春</a></dd><dd><a href="javascript:void(0)">石家庄</a></dd><dd><a href="javascript:void(0)">呼和浩特</a></dd><dd><a href="javascript:void(0)">合肥</a></dd><dd><a href="javascript:void(0)">福州</a></dd><dd><a href="javascript:void(0)">南昌</a></dd><dd><a href="javascript:void(0)">郑州</a></dd><dd><a href="javascript:void(0)">重庆</a></dd><dd><a href="javascript:void(0)">大连</a></dd><dd><a href="javascript:void(0)">厦门</a></dd><dd><a href="javascript:void(0)">青岛</a></dd><dd><a href="javascript:void(0)">昆明</a></dd><dd><a href="javascript:void(0)">东莞</a></dd><dd><a href="javascript:void(0)">佛山</a></dd><dd><a href="javascript:void(0)">宁波</a></dd><dd><a href="javascript:void(0)">温州</a></dd><dd><a href="javascript:void(0)">绍兴</a></dd><dd><a href="javascript:void(0)">海口</a></dd><dd><a href="javascript:void(0)">泉州</a></dd><dd><a href="javascript:void(0)">贵阳</a></dd><dd><a href="javascript:void(0)">太原</a></dd><dd><a href="javascript:void(0)">金华</a></dd><dd><a href="javascript:void(0)">中山</a></dd><dd><a href="javascript:void(0)">珠海</a></dd><dd><a href="javascript:void(0)">惠州</a></dd><dd><a href="javascript:void(0)">锦州</a></dd><dd><a href="javascript:void(0)">兰州</a></dd><dd><a href="javascript:void(0)">徐州</a></dd><dd><a href="javascript:void(0)">台州</a></dd><dd><a href="javascript:void(0)">常州</a></dd><dd><a href="javascript:void(0)">三亚</a></dd><dd><a href="javascript:void(0)">洛阳</a></dd><dd><a href="javascript:void(0)">嘉兴</a></dd><dd><a href="javascript:void(0)">银川</a></dd><dd><a href="javascript:void(0)">西宁</a></dd><dd><a href="javascript:void(0)">拉萨</a></dd><dd><a href="javascript:void(0)">乌鲁木齐</a></dd><dd><a href="javascript:void(0)">齐齐哈尔</a></dd></dl></div></li></ul>
				<div style="clear:both;"></div>
				</div>
				<div class="sg ff">
					<ul><li>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</li><li><a class="current" href="#">全部</a></li><li><a href="javascript:void(0)">男</a></li><li><a href="javascript:void(0)">女</a></li></ul>
				<div style="clear:both;"></div>
				</div>
				<div class="city-box">
				<span class="ss">搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索：</span>
				<input id="city_search" class="icon-up" type="text" value=" 请输入职位名称 " domain=""  autocomplete="off" onclick="this.value=''" onblur="this.value='请输入职位名称'" >
				<div class="post-link">寻职位</div>
				<span class="jr">我要加入模特</span>
			    </div>
		    </div>
	</div>
	<div  class="wapper2" style="display:none">
		<div class="jgPosition">当前位置：<a href="javascript:void(0)"> 首页</a> ><a href="javascript:void(0)"> 机构招聘</a></div>
		<div class="jgBox">
			<div class="jgBoxLeft">
				<ul>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-r"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em3" href="#">该商户已经认证</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-r"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em3" href="#">该商户已经认证</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-r"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em3" href="#">该商户已经认证</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="jgInfo">
						<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
						<div class="jgtxt">
							<h2><a href="javascript:void(0)">11月17.20.22号3天需要175以上女模特20人</a></h2>
							<p><a href="javascript:void(0)">淘宝模特20人</a></p>
							<div class="jgrz">
								<ul>
								<li>机构名称：<a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
								<li>机构类型：<a href="javascript:void(0)">广告传媒</a></li>
								<li><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="em5">浙江省杭州</a><em><a href="javascript:void(0)">2013-12-01</a></em></li>
								</ul>
							</div>
						</div>
						<div class="jgbtn">
							 <span class="online"></span>
							 <span class="xiuyou"></span>
						</div>
					</li>
					<li class="line-bottom">
						<div class="listpage">
							<a class="first" href="javascript:void(0)">上一页</a>
							<a class="current" href="javascript:void(0)">1</a>
							<a href="javascript:void(0)">2</a>
							<a href="javascript:void(0)">3</a>
							<a href="javascript:void(0)">...</a>
							<a class="last" href="javascript:void(0)">下一页</a>
							<p style="display:inline; float:left; margin-right:10px;">
							<label>
								到第
								<input id="" class="inputnum" type="text" size="4" value="1">
								页
							</label>
							</p>
							<a class="btn">确定</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="jgBoxRight">
				<div class="hotjg">
					<h1><a href="javascript:void(0)">热门招聘</a></h1>
					<ul>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
								<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
					</ul>
				</div>
				<div class="tjjg">
					 <h1><a href="javascript:void(0)">推荐机构</a></h1>
					<ul>
								<li><a href="javascript:void(0)"><img src="../Public/images/21.jpg" /></a></li>
								<li><a href="javascript:void(0)"><img src="../Public/images/22.jpg" /></a></li>
								<li><a href="javascript:void(0)"><img src="../Public/images/23.jpg" /></a></li>			
					</ul>
				</div>	
			</div>
		</div>
	</div>
	<div class="wapper1">
		<div class="jgPosition">当前位置：<a href="javascript:void(0)"> 首页</a> ><a href="javascript:void(0)"> 机构列表</a></div>
		<div class="jgBox">
		<div class="jgBoxLeft">
			<ul>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp; <a  class="em5" href="javascript:void(0)">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-r"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em3" href="#">该商户已经认证</a>&nbsp;&nbsp;<a class="em5" href="javascript:void(0)">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="javascript:void(0)">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp; <a class="em5" href="javascript:void(0)">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-r"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em3" href="#">该商户已经认证</a>&nbsp;&nbsp;<a class="em5" href="javascript:void(0)">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp;<a class="em5" href="javascript:void(0)">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-r"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em3" href="#">该商户已经认证</a>&nbsp;&nbsp;<a class="em5" href=" href="javascript:void(0)"">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="jgInfo">
					<div class="jglogo"><a href="javascript:void(0)"><img src="../Public/images/20.jpg" /></a></div>
					<div class="jgtxt">
						<div class="jgrz">
							<ul>
							<li class="bt"><a href="javascript:void(0)">北京嘉娱帝华娱乐传媒有限公司</a><i></i></li>
							<li style=" line-height:20px;"><a href="javascript:void(0)">北京嘉娱帝华文化传媒有限责任公司。是集艺人经纪、唱片制作推广、音
乐版权、影视投资制作、节目策划、广告代言、大型演出等业务为一体的
综合型传媒娱乐企业。作为一家专业的娱乐传媒机构，嘉娱帝</a></li>
							<li style=" margin-top:18px;"><span class="rz-m"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="em1" href="#">未认证商户</a>&nbsp;&nbsp;<a class="em2" href="#">如何认证？</a>&nbsp;&nbsp;<a class="em5" href="javascript:void(0)">浙江省杭州</a><a href="javascript:void(0)"><em class="em4">广告传媒</em></a></li>
							</ul>
						</div>
					</div>
					<div class="jgbtn">
						 <span class="online"></span>
						 <span class="xiuyou"></span>
					</div>
				</li>
				<li class="line-bottom">
					<div class="listpage">
						<a class="first" href="javascript:void(0)">上一页</a>
						<a class="current" href="javascript:void(0)">1</a>
						<a href="javascript:void(0)">2</a>
						<a href="javascript:void(0)">3</a>
						<a href="javascript:void(0)">...</a>
						<a class="last"  href="javascript:void(0)">下一页</a>
						<p style="display:inline; float:left; margin-right:10px;">
					    <label>
							到第
							<input id="" class="inputnum" type="text" size="4" value="1">
							页
						</label>
						</p>
						<a class="btn">确定</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="jgBoxRight">
			<div class="tjjg">
				 <h1><a href="javascript:void(0)">推荐机构</a></h1>
				<ul>
							<li><a href="javascript:void(0)"><img src="../Public/images/21.jpg" /></a></li>
							<li><a href="javascript:void(0)"><img src="../Public/images/22.jpg" /></a></li>
							<li><a href="javascript:void(0)"><img src="../Public/images/23.jpg" /></a></li>			
				</ul>
			</div>	
			<div class="hotjg">
			    <h1><a href="javascript:void(0)">热门机构</a></h1>
				<ul>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em></em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>