<script type="text/javascript">
    $(function($) {

//1
        $(".mm-g-drop-menu").hover(
                function () {
                    $(this).addClass("hover");
                },
                function () {
                    $(this).removeClass("hover");
                });
//2
        $(".xc-tab li").click(
                function () {
                    $(this).addClass("current");
                    $(this).siblings().removeClass("current");
                });
//3
        $(".menu-item-dh").hover(
                function () {
                    $(this).addClass("hover");
                },
                function () {
                    $(this).removeClass("hover");
                });
        //4
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".ColumnTxt").hide();
        $(".leftPart").hover(function(){
            $(".ColumnTxt").slideToggle(600);
        });
    });
</script>
<div class="MainContent">
     <div class="Banner"><a href="javascript:void(0)"><img src="../Public/images/15.jpg" /></a></div>
	 <div class="s-main">
	 	<div class="cityin all-city">
			<div class="chose">热门城市入口</div>
			<a href="javascript:void(0)" class="in_cur">进入杭州站&nbsp;<span class="in-icon"></span></a>
			<a href="javascript:void(0)">北京</a>
			<a href="javascript:void(0)">上海</a>
			<a href="javascript:void(0)">广州</a>
			<a href="javascript:void(0)">深圳</a>
			<a href="javascript:void(0)">杭州</a>
    	</div>
		<div style="clear:both"></div>
		<div class="city-box">
			<input id="city_search" class="icon-up" type="text" value=" 请输入城市名称 " domain=""  autocomplete="off" onclick="this.value=''" onblur="this.value='请输入城市名称'" >
			<div class="post-link">进入城市</div>
		</div>
	</div>
	<dl id="clist">
			<dt>山东</dt><dd><a onclick="co('qd')" href="javascript:void(0)">青岛</a><a onclick="co('jn')" href="javascript:void(0)">济南</a><a onclick="co('yt')" href="javascript:void(0)">烟台</a><a onclick="co('wf')" href="javascript:void(0)">潍坊</a><a onclick="co('linyi')" href="javascript:void(0)">临沂</a><a onclick="co('zb')" href="javascript:void(0)">淄博</a><a onclick="co('jining')" href="javascript:void(0)">济宁</a><a onclick="co('ta')" href="javascript:void(0)">泰安</a><a onclick="co('lc')" href="javascript:void(0)">聊城</a><a onclick="co('weihai')" href="javascript:void(0)">威海</a><a onclick="co('zaozhuang')" href="javascript:void(0)">枣庄</a><a onclick="co('dz')" href="javascript:void(0)">德州</a><a onclick="co('rizhao')" href="javascript:void(0)">日照</a><a onclick="co('dy')" href="javascript:void(0)">东营</a><a onclick="co('heze')" href="javascript:void(0)">菏泽</a><a onclick="co('bz')" href="javascript:void(0)">滨州</a><a onclick="co('lw')" href="javascript:void(0)">莱芜</a><a onclick="co('zhangqiu')" href="javascript:void(0)">章丘</a><a onclick="co('kl')" href="javascript:void(0)">垦利</a><a onclick="co('zc')" href="javascript:void(0)">诸城</a></dd>
			<dt>江苏</dt><dd><a onclick="co('su')" href="javascript:void(0)">苏州</a><a onclick="co('nj')" href="javascript:void(0)">南京</a><a onclick="co('wx')" href="javascript:void(0)">无锡</a><a onclick="co('cz')" href="javascript:void(0)">常州</a><a onclick="co('xz')" href="javascript:void(0)">徐州</a><a onclick="co('nt')" href="javascript:void(0)">南通</a><a onclick="co('yz')" href="javascript:void(0)">扬州</a><a onclick="co('yancheng')" href="javascript:void(0)">盐城</a><a onclick="co('ha')" href="javascript:void(0)">淮安</a><a onclick="co('lyg')" href="javascript:void(0)">连云港</a><a onclick="co('taizhou')" href="javascript:void(0)">泰州</a><a onclick="co('suqian')" href="javascript:void(0)">宿迁</a><a onclick="co('zj')" href="javascript:void(0)">镇江</a><a onclick="co('shuyang')" href="javascript:void(0)">沭阳</a><a onclick="co('dafeng')" href="javascript:void(0)">大丰</a></dd>
			<dt>浙江</dt><dd><a onclick="co('hz')" href="javascript:void(0)">杭州</a><a onclick="co('nb')" href="javascript:void(0)">宁波</a><a onclick="co('wz')" href="javascript:void(0)">温州</a><a onclick="co('jh')" href="javascript:void(0)">金华</a><a onclick="co('jx')" href="javascript:void(0)">嘉兴</a><a onclick="co('tz')" href="javascript:void(0)">台州</a><a onclick="co('sx')" href="javascript:void(0)">绍兴</a><a onclick="co('huzhou')" href="javascript:void(0)">湖州</a><a onclick="co('lishui')" href="javascript:void(0)">丽水</a><a onclick="co('quzhou')" href="javascript:void(0)">衢州</a><a onclick="co('zhoushan')" href="javascript:void(0)">舟山</a><a onclick="co('yueqingcity')" href="javascript:void(0)">乐清</a><a onclick="co('ruiancity')" href="javascript:void(0)">瑞安</a><a onclick="co('yiwu')" href="javascript:void(0)">义乌</a></dd>
			<dt class="dot">安徽</dt><dd class="dot"><a onclick="co('hf')" href="javascript:void(0)">合肥</a><a onclick="co('wuhu')" href="javascript:void(0)">芜湖</a><a onclick="co('bengbu')" href="javascript:void(0)">蚌埠</a><a onclick="co('fy')" href="javascript:void(0)">阜阳</a><a onclick="co('hn')" href="javascript:void(0)">淮南</a><a onclick="co('anqing')" href="javascript:void(0)">安庆</a><a onclick="co('suzhou')" href="javascript:void(0)">宿州</a><a onclick="co('la')" href="javascript:void(0)">六安</a><a onclick="co('huaibei')" href="javascript:void(0)">淮北</a><a onclick="co('chuzhou')" href="javascript:void(0)">滁州</a><a onclick="co('mas')" href="javascript:void(0)">马鞍山</a><a onclick="co('tongling')" href="javascript:void(0)">铜陵</a><a onclick="co('xuancheng')" href="javascript:void(0)">宣城</a><a onclick="co('bozhou')" href="javascript:void(0)">亳州</a><a onclick="co('huangshan')" href="javascript:void(0)">黄山</a><a onclick="co('chizhou')" href="javascript:void(0)">池州</a><a onclick="co('ch')" href="javascript:void(0)">巢湖</a><a onclick="co('hexian')" href="javascript:void(0)">和县</a><a onclick="co('hq')" href="javascript:void(0)">霍邱</a><a onclick="co('tongcheng')" href="javascript:void(0)">桐城</a></dd>
			<dt>广东</dt><dd><a onclick="co('sz')" href="javascript:void(0)">深圳</a><a onclick="co('gz')" href="http://gz.58.com/">广州</a><a onclick="co('dg')" href="http://dg.58.com/">东莞</a><a onclick="co('fs')" href="javascript:void(0)">佛山</a><a onclick="co('zs')" href="javascript:void(0)">中山</a><a onclick="co('zh')" href="http://zh.58.com/">珠海</a><a onclick="co('huizhou')" href="javascript:void(0)">惠州</a><a onclick="co('jm')" href="http://jm.58.com/">江门</a><a onclick="co('st')" href="javascript:void(0)">汕头</a><a onclick="co('zhanjiang')" href="javascript:void(0)">湛江</a><a onclick="co('zq')" href="javascript:void(0)">肇庆</a><a onclick="co('mm')" href="http://mm.58.com/">茂名</a><a onclick="co('jy')" href="javascript:void(0)">揭阳</a><a onclick="co('mz')" href="javascript:void(0)">梅州</a><a onclick="co('qingyuan')" href="javascript:void(0)">清远</a><a onclick="co('yj')" href="javascript:void(0)">阳江</a><a onclick="co('sg')" href="javascript:void(0)">韶关</a><a onclick="co('heyuan')" href="javascript:void(0)">河源</a><a onclick="co('yf')" href="javascript:void(0)">云浮</a><a onclick="co('sw')" href="javascript:void(0)">汕尾</a><a onclick="co('chaozhou')" href="http://chaozhou.58.com/">潮州</a><a onclick="co('taishan')" href="javascript:void(0)">台山</a><a onclick="co('yangchun')" href="javascript:void(0)">阳春</a><a onclick="co('sd')" href="javascript:void(0)">顺德</a></dd>
			<dt>福建</dt><dd><a onclick="co('fz')" href="javascript:void(0)">福州</a><a onclick="co('xm')" href="javascript:void(0)">厦门</a><a onclick="co('qz')" href="javascript:void(0)">泉州</a><a onclick="co('pt')" href="javascript:void(0)">莆田</a><a onclick="co('zhangzhou')" href="http://zhangzhou.58.com/">漳州</a><a onclick="co('nd')" href="javascript:void(0)">宁德</a><a onclick="co('sm')" href="javascript:void(0)">三明</a><a onclick="co('np')" href="javascript:void(0)">南平</a><a onclick="co('ly')" href="javascript:void(0)">龙岩</a><a onclick="co('wuyishan')" href="javascript:void(0)">武夷山</a></dd>
			<dt>广西</dt><dd><a onclick="co('nn')" href="http://nn.58.com/">南宁</a><a onclick="co('liuzhou')" href="http://liuzhou.58.com/">柳州</a><a onclick="co('gl')" href="http://gl.58.com/">桂林</a><a onclick="co('yulin')" href="http://yulin.58.com/">玉林</a><a onclick="co('wuzhou')" href="http://wuzhou.58.com/">梧州</a><a onclick="co('bh')" href="http://bh.58.com/">北海</a><a onclick="co('gg')" href="http://gg.58.com/">贵港</a><a onclick="co('qinzhou')" href="http://qinzhou.58.com/">钦州</a><a onclick="co('baise')" href="http://baise.58.com/">百色</a><a onclick="co('hc')" href="http://hc.58.com/">河池</a><a onclick="co('lb')" href="http://lb.58.com/">来宾</a><a onclick="co('hezhou')" href="http://hezhou.58.com/">贺州</a><a onclick="co('fcg')" href="http://fcg.58.com/">防城港</a><a onclick="co('chongzuo')" href="http://chongzuo.58.com/">崇左</a></dd>
			<dt class="dot">海南</dt><dd class="dot"><a onclick="co('haikou')" href="http://haikou.58.com/">海口</a><a onclick="co('sanya')" href="http://sanya.58.com/">三亚</a><a onclick="co('wzs')" href="http://wzs.58.com/">五指山</a><a onclick="co('sansha')" href="http://sansha.58.com/">三沙</a></dd>
			<dt>河南</dt><dd><a onclick="co('zz')" href="http://zz.58.com/">郑州</a><a onclick="co('luoyang')" href="http://luoyang.58.com/">洛阳</a><a onclick="co('xx')" href="http://xx.58.com/">新乡</a><a onclick="co('ny')" href="http://ny.58.com/">南阳</a><a onclick="co('xc')" href="http://xc.58.com/">许昌</a><a onclick="co('pds')" href="http://pds.58.com/">平顶山</a><a onclick="co('ay')" href="http://ay.58.com/">安阳</a><a onclick="co('jiaozuo')" href="http://jiaozuo.58.com/">焦作</a><a onclick="co('sq')" href="http://sq.58.com/">商丘</a><a onclick="co('kaifeng')" href="http://kaifeng.58.com/">开封</a><a onclick="co('puyang')" href="http://puyang.58.com/">濮阳</a><a onclick="co('zk')" href="http://zk.58.com/">周口</a><a onclick="co('xy')" href="http://xy.58.com/">信阳</a><a onclick="co('zmd')" href="http://zmd.58.com/">驻马店</a><a onclick="co('luohe')" href="http://luohe.58.com/">漯河</a><a onclick="co('smx')" href="http://smx.58.com/">三门峡</a><a onclick="co('hb')" href="http://hb.58.com/">鹤壁</a><a onclick="co('jiyuan')" href="http://jiyuan.58.com/">济源</a><a onclick="co('mg')" href="http://mg.58.com/">明港</a><a onclick="co('yanling')" href="http://yanling.58.com/">鄢陵</a><a onclick="co('yuzhou')" href="http://yuzhou.58.com/">禹州</a><a onclick="co('changge')" href="http://changge.58.com/">长葛</a></dd>
			<dt>湖北</dt><dd><a onclick="co('wh')" href="http://wh.58.com/">武汉</a><a onclick="co('yc')" href="http://yc.58.com/">宜昌</a><a onclick="co('xf')" href="http://xf.58.com/">襄阳</a><a onclick="co('jingzhou')" href="http://jingzhou.58.com/">荆州</a><a onclick="co('shiyan')" href="http://shiyan.58.com/">十堰</a><a onclick="co('hshi')" href="http://hshi.58.com/">黄石</a><a onclick="co('xiaogan')" href="http://xiaogan.58.com/">孝感</a><a onclick="co('hg')" href="http://hg.58.com/">黄冈</a><a onclick="co('es')" href="http://es.58.com/">恩施</a><a onclick="co('jingmen')" href="http://jingmen.58.com/">荆门</a><a onclick="co('xianning')" href="http://xianning.58.com/">咸宁</a><a onclick="co('ez')" href="http://ez.58.com/">鄂州</a><a onclick="co('suizhou')" href="http://suizhou.58.com/">随州</a><a onclick="co('qianjiang')" href="http://qianjiang.58.com/">潜江</a><a onclick="co('tm')" href="http://tm.58.com/">天门</a><a onclick="co('xiantao')" href="http://xiantao.58.com/">仙桃</a><a onclick="co('snj')" href="http://snj.58.com/">神农架</a></dd>
			<dt>湖南</dt><dd><a onclick="co('cs')" href="http://cs.58.com/">长沙</a><a onclick="co('zhuzhou')" href="http://zhuzhou.58.com/">株洲</a><a onclick="co('yiyang')" href="http://yiyang.58.com/">益阳</a><a onclick="co('changde')" href="http://changde.58.com/">常德</a><a onclick="co('hy')" href="http://hy.58.com/">衡阳</a><a onclick="co('xiangtan')" href="http://xiangtan.58.com/">湘潭</a><a onclick="co('yy')" href="http://yy.58.com/">岳阳</a><a onclick="co('chenzhou')" href="http://chenzhou.58.com/">郴州</a><a onclick="co('shaoyang')" href="http://shaoyang.58.com/">邵阳</a><a onclick="co('hh')" href="http://hh.58.com/">怀化</a><a onclick="co('yongzhou')" href="http://yongzhou.58.com/">永州</a><a onclick="co('ld')" href="http://ld.58.com/">娄底</a><a onclick="co('xiangxi')" href="http://xiangxi.58.com/">湘西</a><a onclick="co('zjj')" href="http://zjj.58.com/">张家界</a></dd>
			<dt class="dot">江西</dt><dd class="dot"><a onclick="co('nc')" href="http://nc.58.com/">南昌</a><a onclick="co('ganzhou')" href="http://ganzhou.58.com/">赣州</a><a onclick="co('jj')" href="http://jj.58.com/">九江</a><a onclick="co('yichun')" href="http://yichun.58.com/">宜春</a><a onclick="co('ja')" href="http://ja.58.com/">吉安</a><a onclick="co('sr')" href="http://sr.58.com/">上饶</a><a onclick="co('px')" href="http://px.58.com/">萍乡</a><a onclick="co('fuzhou')" href="http://fuzhou.58.com/">抚州</a><a onclick="co('jdz')" href="http://jdz.58.com/">景德镇</a><a onclick="co('xinyu')" href="http://xinyu.58.com/">新余</a><a onclick="co('yingtan')" href="http://yingtan.58.com/">鹰潭</a><a onclick="co('yxx')" href="http://yxx.58.com/">永新</a></dd>
			<dt>辽宁</dt><dd><a onclick="co('sy')" href="http://sy.58.com/">沈阳</a><a onclick="co('dl')" href="http://dl.58.com/">大连</a><a onclick="co('as')" href="http://as.58.com/">鞍山</a><a onclick="co('jinzhou')" href="http://jinzhou.58.com/">锦州</a><a onclick="co('fushun')" href="http://fushun.58.com/">抚顺</a><a onclick="co('yk')" href="http://yk.58.com/">营口</a><a onclick="co('pj')" href="http://pj.58.com/">盘锦</a><a onclick="co('cy')" href="http://cy.58.com/">朝阳</a><a onclick="co('dandong')" href="http://dandong.58.com/">丹东</a><a onclick="co('liaoyang')" href="http://liaoyang.58.com/">辽阳</a><a onclick="co('benxi')" href="http://benxi.58.com/">本溪</a><a onclick="co('hld')" href="http://hld.58.com/">葫芦岛</a><a onclick="co('tl')" href="http://tl.58.com/">铁岭</a><a onclick="co('fx')" href="http://fx.58.com/">阜新</a><a onclick="co('pld')" href="http://pld.58.com/">庄河</a><a onclick="co('wfd')" href="http://wfd.58.com/">瓦房店</a></dd>
			<dt>黑龙江</dt><dd><a onclick="co('hrb')" href="http://hrb.58.com/">哈尔滨</a><a onclick="co('dq')" href="http://dq.58.com/">大庆</a><a onclick="co('qqhr')" href="http://qqhr.58.com/">齐齐哈尔</a><a onclick="co('mdj')" href="http://mdj.58.com/">牡丹江</a><a onclick="co('suihua')" href="http://suihua.58.com/">绥化</a><a onclick="co('jms')" href="http://jms.58.com/">佳木斯</a><a onclick="co('jixi')" href="http://jixi.58.com/">鸡西</a><a onclick="co('sys')" href="http://sys.58.com/">双鸭山</a><a onclick="co('hegang')" href="http://hegang.58.com/">鹤岗</a><a onclick="co('heihe')" href="http://heihe.58.com/">黑河</a><a onclick="co('yich')" href="http://yich.58.com/">伊春</a><a onclick="co('qth')" href="http://qth.58.com/">七台河</a><a onclick="co('dxal')" href="http://dxal.58.com/">大兴安岭</a></dd>
			<dt class="dot">吉林</dt><dd class="dot"><a onclick="co('cc')" href="http://cc.58.com/">长春</a><a onclick="co('jl')" href="http://jl.58.com/">吉林</a><a onclick="co('sp')" href="http://sp.58.com/">四平</a><a onclick="co('yanbian')" href="http://yanbian.58.com/">延边</a><a onclick="co('songyuan')" href="http://songyuan.58.com/">松原</a><a onclick="co('bc')" href="http://bc.58.com/">白城</a><a onclick="co('th')" href="http://th.58.com/">通化</a><a onclick="co('baishan')" href="http://baishan.58.com/">白山</a><a onclick="co('liaoyuan')" href="http://liaoyuan.58.com/">辽源</a></dd>
			<dt>四川</dt><dd><a onclick="co('cd')" href="http://cd.58.com/">成都</a><a onclick="co('mianyang')" href="http://mianyang.58.com/">绵阳</a><a onclick="co('deyang')" href="http://deyang.58.com/">德阳</a><a onclick="co('nanchong')" href="http://nanchong.58.com/">南充</a><a onclick="co('yb')" href="http://yb.58.com/">宜宾</a><a onclick="co('zg')" href="http://zg.58.com/">自贡</a><a onclick="co('ls')" href="http://ls.58.com/">乐山</a><a onclick="co('luzhou')" href="http://luzhou.58.com/">泸州</a><a onclick="co('dazhou')" href="http://dazhou.58.com/">达州</a><a onclick="co('scnj')" href="http://scnj.58.com/">内江</a><a onclick="co('suining')" href="http://suining.58.com/">遂宁</a><a onclick="co('panzhihua')" href="http://panzhihua.58.com/">攀枝花</a><a onclick="co('ms')" href="http://ms.58.com/">眉山</a><a onclick="co('ga')" href="http://ga.58.com/">广安</a><a onclick="co('zy')" href="http://zy.58.com/">资阳</a><a onclick="co('liangshan')" href="http://liangshan.58.com/">凉山</a><a onclick="co('guangyuan')" href="http://guangyuan.58.com/">广元</a><a onclick="co('ya')" href="http://ya.58.com/">雅安</a><a onclick="co('bazhong')" href="http://bazhong.58.com/">巴中</a><a onclick="co('ab')" href="http://ab.58.com/">阿坝</a><a onclick="co('ganzi')" href="http://ganzi.58.com/">甘孜</a></dd>
			<dt>云南</dt><dd><a onclick="co('km')" href="http://km.58.com/">昆明</a><a onclick="co('qj')" href="http://qj.58.com/">曲靖</a><a onclick="co('dali')" href="http://dali.58.com/">大理</a><a onclick="co('honghe')" href="http://honghe.58.com/">红河</a><a onclick="co('yx')" href="http://yx.58.com/">玉溪</a><a onclick="co('lj')" href="http://lj.58.com/">丽江</a><a onclick="co('ws')" href="http://ws.58.com/">文山</a><a onclick="co('cx')" href="http://cx.58.com/">楚雄</a><a onclick="co('bn')" href="http://bn.58.com/">西双版纳</a><a onclick="co('zt')" href="http://zt.58.com/">昭通</a><a onclick="co('dh')" href="http://dh.58.com/">德宏</a><a onclick="co('pe')" href="http://pe.58.com/">普洱</a><a onclick="co('bs')" href="http://bs.58.com/">保山</a><a onclick="co('lincang')" href="http://lincang.58.com/">临沧</a><a onclick="co('diqing')" href="http://diqing.58.com/">迪庆</a><a onclick="co('nujiang')" href="http://nujiang.58.com/">怒江</a></dd>
			<dt>贵州</dt><dd><a onclick="co('gy')" href="http://gy.58.com/">贵阳</a><a onclick="co('zunyi')" href="http://zunyi.58.com/">遵义</a><a onclick="co('qdn')" href="http://qdn.58.com/">黔东南</a><a onclick="co('qn')" href="http://qn.58.com/">黔南</a><a onclick="co('lps')" href="http://lps.58.com/">六盘水</a><a onclick="co('bijie')" href="http://bijie.58.com/">毕节</a><a onclick="co('tr')" href="http://tr.58.com/">铜仁</a><a onclick="co('anshun')" href="http://anshun.58.com/">安顺</a><a onclick="co('qxn')" href="http://qxn.58.com/">黔西南</a></dd>
			<dt class="dot">西藏</dt><dd class="dot"><a onclick="co('lasa')" href="http://lasa.58.com/">拉萨</a><a onclick="co('rkz')" href="http://rkz.58.com/">日喀则</a><a onclick="co('sn')" href="http://sn.58.com/">山南</a><a onclick="co('linzhi')" href="http://linzhi.58.com/">林芝</a><a onclick="co('changdu')" href="http://changdu.58.com/">昌都</a><a onclick="co('nq')" href="http://nq.58.com/">那曲</a><a onclick="co('al')" href="http://al.58.com/">阿里</a></dd>
			<dt>河北</dt><dd><a onclick="co('sjz')" href="http://sjz.58.com/">石家庄</a><a onclick="co('bd')" href="http://bd.58.com/">保定</a><a onclick="co('ts')" href="http://ts.58.com/">唐山</a><a onclick="co('lf')" href="http://lf.58.com/">廊坊</a><a onclick="co('hd')" href="http://hd.58.com/">邯郸</a><a onclick="co('qhd')" href="http://qhd.58.com/">秦皇岛</a><a onclick="co('cangzhou')" href="http://cangzhou.58.com/">沧州</a><a onclick="co('xt')" href="http://xt.58.com/">邢台</a><a onclick="co('hs')" href="http://hs.58.com/">衡水</a><a onclick="co('zjk')" href="http://zjk.58.com/">张家口</a><a onclick="co('chengde')" href="http://chengde.58.com/">承德</a><a onclick="co('dingzhou')" href="http://dingzhou.58.com/">定州</a><a onclick="co('gt')" href="http://gt.58.com/">馆陶</a><a onclick="co('zhangbei')" href="http://zhangbei.58.com/">张北</a><a onclick="co('zx')" href="http://zx.58.com/">赵县</a><a onclick="co('zd')" href="http://zd.58.com/">正定</a></dd>
			<dt>山西</dt><dd><a onclick="co('ty')" href="http://ty.58.com/">太原</a><a onclick="co('linfen')" href="http://linfen.58.com/">临汾</a><a onclick="co('dt')" href="http://dt.58.com/">大同</a><a onclick="co('yuncheng')" href="http://yuncheng.58.com/">运城</a><a onclick="co('jz')" href="http://jz.58.com/">晋中</a><a onclick="co('changzhi')" href="http://changzhi.58.com/">长治</a><a onclick="co('jincheng')" href="http://jincheng.58.com/">晋城</a><a onclick="co('yq')" href="http://yq.58.com/">阳泉</a><a onclick="co('lvliang')" href="http://lvliang.58.com/">吕梁</a><a onclick="co('xinzhou')" href="http://xinzhou.58.com/">忻州</a><a onclick="co('shuozhou')" href="http://shuozhou.58.com/">朔州</a><a onclick="co('linyixian')" href="http://linyixian.58.com/">临猗</a><a onclick="co('qingxu')" href="http://qingxu.58.com/">清徐</a></dd>
			<dt class="dot">内蒙古</dt>
			<dd class="dot"><a onclick="co('hu')" href="http://hu.58.com/">呼和浩特</a><a onclick="co('bt')" href="http://bt.58.com/">包头</a><a onclick="co('chifeng')" href="http://chifeng.58.com/">赤峰</a><a onclick="co('erds')" href="http://erds.58.com/">鄂尔多斯</a><a onclick="co('tongliao')" href="http://tongliao.58.com/">通辽</a><a onclick="co('hlbe')" href="http://hlbe.58.com/">呼伦贝尔</a><a onclick="co('bycem')" href="http://bycem.58.com/">巴彦淖尔市</a><a onclick="co('wlcb')" href="http://wlcb.58.com/">乌兰察布</a><a onclick="co('xl')" href="http://xl.58.com/">锡林郭勒盟</a><a onclick="co('xam')" href="http://xam.58.com/">兴安盟</a><a onclick="co('wuhai')" href="http://wuhai.58.com/">乌海</a><a onclick="co('alsm')" href="http://alsm.58.com/">阿拉善盟</a><a onclick="co('hlr')" href="http://hlr.58.com/">海拉尔</a></dd>
			<dt>陕西</dt>
			<dd><a onclick="co('xa')" href="http://xa.58.com/">西安</a><a onclick="co('xianyang')" href="http://xianyang.58.com/">咸阳</a><a onclick="co('baoji')" href="http://baoji.58.com/">宝鸡</a><a onclick="co('wn')" href="http://wn.58.com/">渭南</a><a onclick="co('hanzhong')" href="http://hanzhong.58.com/">汉中</a><a onclick="co('yl')" href="http://yl.58.com/">榆林</a><a onclick="co('yanan')" href="http://yanan.58.com/">延安</a><a onclick="co('ankang')" href="http://ankang.58.com/">安康</a><a onclick="co('sl')" href="http://sl.58.com/">商洛</a><a onclick="co('tc')" href="http://tc.58.com/">铜川</a></dd>
			<dt>新疆</dt>
			<dd><a onclick="co('xj')" href="http://xj.58.com/">乌鲁木齐</a><a onclick="co('changji')" href="http://changji.58.com/">昌吉</a><a onclick="co('bygl')" href="http://bygl.58.com/">巴音郭楞</a><a onclick="co('yili')" href="http://yili.58.com/">伊犁</a><a onclick="co('aks')" href="http://aks.58.com/">阿克苏</a><a onclick="co('ks')" href="http://ks.58.com/">喀什</a><a onclick="co('hami')" href="http://hami.58.com/">哈密</a><a onclick="co('klmy')" href="http://klmy.58.com/">克拉玛依</a><a onclick="co('betl')" href="http://betl.58.com/">博尔塔拉</a><a onclick="co('tlf')" href="http://tlf.58.com/">吐鲁番</a><a onclick="co('ht')" href="http://ht.58.com/">和田</a><a onclick="co('shz')" href="http://shz.58.com/">石河子</a><a onclick="co('kzls')" href="http://kzls.58.com/">克孜勒苏</a><a onclick="co('ale')" href="http://ale.58.com/">阿拉尔</a><a onclick="co('wjq')" href="http://wjq.58.com/">五家渠</a><a onclick="co('tmsk')" href="http://tmsk.58.com/">图木舒克</a><a onclick="co('kel')" href="http://kel.58.com/">库尔勒</a></dd>
			<dt>甘肃</dt>
			<dd><a onclick="co('lz')" href="http://lz.58.com/">兰州</a><a onclick="co('tianshui')" href="http://tianshui.58.com/">天水</a><a onclick="co('by')" href="http://by.58.com/">白银</a><a onclick="co('qingyang')" href="http://qingyang.58.com/">庆阳</a><a onclick="co('pl')" href="http://pl.58.com/">平凉</a><a onclick="co('jq')" href="http://jq.58.com/">酒泉</a><a onclick="co('zhangye')" href="http://zhangye.58.com/">张掖</a><a onclick="co('wuwei')" href="http://wuwei.58.com/">武威</a><a onclick="co('dx')" href="http://dx.58.com/">定西</a><a onclick="co('jinchang')" href="http://jinchang.58.com/">金昌</a><a onclick="co('ln')" href="http://ln.58.com/">陇南</a><a onclick="co('linxia')" href="http://linxia.58.com/">临夏</a><a onclick="co('jyg')" href="http://jyg.58.com/">嘉峪关</a><a onclick="co('gn')" href="http://gn.58.com/">甘南</a></dd>
			<dt>宁夏</dt>
			<dd><a onclick="co('yinchuan')" href="http://yinchuan.58.com/">银川</a><a onclick="co('wuzhong')" href="http://wuzhong.58.com/">吴忠</a><a onclick="co('szs')" href="http://szs.58.com/">石嘴山</a><a onclick="co('zw')" href="http://zw.58.com/">中卫</a><a onclick="co('guyuan')" href="http://guyuan.58.com/">固原</a></dd>
			<dt>青海</dt>
			<dd><a onclick="co('xn')" href="http://xn.58.com/">西宁</a><a onclick="co('hx')" href="http://hx.58.com/">海西</a><a onclick="co('haibei')" href="http://haibei.58.com/">海北</a><a onclick="co('guoluo')" href="http://guoluo.58.com/">果洛</a><a onclick="co('haidong')" href="http://haidong.58.com/">海东</a><a onclick="co('huangnan')" href="http://huangnan.58.com/">黄南</a><a onclick="co('ys')" href="http://ys.58.com/">玉树</a><a onclick="co('hainan')" href="http://hainan.58.com/">海南</a></dd>
			<dt>其他</dt>
			<dd><a onclick="co('hk')" href="http://hk.58.com/">香港</a><a onclick="co('am')" href="http://am.58.com/">澳门</a><a onclick="co('tw')" href="http://tw.58.com/">台湾</a><a onclick="co('diaoyudao')" href="http://diaoyudao.58.com/">钓鱼岛</a><a onclick="co('cn')" href="http://cn.58.com/">其他</a></dd>
		</dl>
