<script type="text/javascript">
    $(function($) {

//1
        $(".mm-g-drop-menu,.menu-item-dh").hover(
                function () {
                    $(this).addClass("hover");
                },
                function () {
                    $(this).removeClass("hover");
                });
//2
        $(".xc-tab li").click(
                function () {
                    $(this).addClass("current");
                    $(this).siblings().removeClass("current");
                });
        //4
        $('.snPic').hover(
                function () {
                    $(this).children('.snPicNum1').slideDown(200);
                    $(this).children('.snPicNum2').slideDown(200);
                    $(this).children('.snPicNum3').slideDown(200);
                },
                function () {
                    $(this).children('.snPicNum1').slideUp(200);
                    $(this).children('.snPicNum2').slideUp(200);
                    $(this).children('.snPicNum3').slideUp(200);
                }
        );
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".ColumnTxt").hide();
        $(".leftPart").hover(function(){
            $(".ColumnTxt").slideToggle(600);
        });
    });
</script>
<div class="MainContent">
     <div class="Banner"><a href="javascript:void(0)"><img src="../Public/images/7.jpg" /></a></div>
	 <div class="StarNews">
	  	<div class="StarNews-hd"></div>
		<div class="StarNews-bd">
			<div class="leftPart">
			<ul>
			    <li>
				<div class="num"><span class="snNum1"></span></div>
				<div class="snTxt"><h2><a href="javascript:void(0)">群星亮相万圣节派对 希尔顿穿性感熊装</a></h2><p>减肥也并不总是要很辛苦的哦！只要你能学会用“下半身”思考，你就会发
现自己每一秒都在轻松“享瘦”，因为这种懒人减肥方法，能帮你养成极好
的习......<a href="">[全文]</a></p></div>
                <div class="snPic"><a href="javascript:void(0)"><img src="../Public/images/9.jpg" /></a><div class="snPicNum1"></div></div>
				</li>
				<div style=" clear:both;"></div>
				<li>
				<div class="num"><span class="snNum2"></span></div>
				<div class="snTxt"><h2><a href="">群星亮相万圣节派对 希尔顿穿性感熊装</a></h2><p>减肥也并不总是要很辛苦的哦！只要你能学会用“下半身”思考，你就会发
现自己每一秒都在轻松“享瘦”，因为这种懒人减肥方法，能帮你养成极好
的习......<a href="">[全文]</a></p></div>
                <div class="snPic"><a href="javascript:void(0)"><img src="../Public/images/9.jpg" /></a><div class="snPicNum2"></div></div>
				</li>
				<div style=" clear:both;"></div>
				<li style=" height:136px;">
				<div class="num"><span class="snNum3"></span></div>
				<div class="snTxt"><h2><a href="">群星亮相万圣节派对 希尔顿穿性感熊装</a></h2><p>减肥也并不总是要很辛苦的哦！只要你能学会用“下半身”思考，你就会发
现自己每一秒都在轻松“享瘦”，因为这种懒人减肥方法，能帮你养成极好
的习......<a href="">[全文]</a></p></div>
                <div class="snPic"><a href="javascript:void(0)"><img src="../Public/images/9.jpg" /></a><div class="snPicNum3"></div></div>
				</li>
			</ul>
			</div>
			<div class="rightPart">
				<div class="mod1">
					<div class="hd">
						<h2><a href="javascript:void(0)">热点星闻</a></h2>
						<span class="fr"></span>
					</div>
					<div class="bd">
						<ul>
							<li><em>1</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>2</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>3</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>4</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>5</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>6</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>7</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>8</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>9</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	 </div>
	 <div style="clear:both"></div>
	 <div class="Share">
	 	<div class="Share-hd"></div>
		<div class="Share-bd">
			<div class="leftPart">
				<div class="part1">
				    <div class="pic"><a href="javascript:void(0)"><img src="../Public/images/10.jpg" /></a></div>
					<h2><a href="javascript:void(0)">驼色大衣风情百变 搭配潮人玩起来</a><span>分享</span></h2>
					<p>驼色大衣颜色白搭款式百变，是秋冬搭配的小帮手。驼色大衣让你再无头绪的挑选
中眼前一亮的驼色大衣，准备好了吗？今天就穿着它出门吧......<a href="javascript:void(0)">[全文]</a></p>
				</div>
				<div class="part2">
					<div class="part2Cnt">
						<a href="javascript:void(0)" class="pic"> <img src="../Public/images/11.jpg" /></a>
						<h2><a href="javascript:void(0)">GAGA胡子妆 逆天雷人造型闹哪样</a></h2>
						<p>雷帝GAGA近日现身德国柏林某俱乐部忙于宣传新专辑，可是亮相的造型真是吓坏人！倒三角扁黄毛......<a href="javascript:void(0)">[全文]</a></p>
					</div>
				</div>
			</div>
			<div class="midPart">
				<ul>
				<li style=" margin-bottom:23px;"><a  class="dtitle" href="javascript:void(0)"><img src="../Public/images/12.jpg" />张歆艺化身时尚主妇</a><span>分享</span></li>
				<li><a  class="dtitle" href="javascript:void(0)"><img src="../Public/images/12.jpg" />张歆艺化身时尚主妇</a><span>分享</span></li>
				</ul>
			</div>
			<div class="rightPart">
				<div class="mod1">
					<div class="hd">
						<h2><a href="javascript:void(0)">最新分享</a></h2>
						<span class="fr"></span>
					</div>
					<div class="bd">
						<ul>
							<li><em>1</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>2</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>3</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>4</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>5</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>6</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>7</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>8</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>9</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	 </div>
	 <div style="clear:both;"></div>
	 <div class="Column">
	 	<div class="Column-hd"></div>
		<div class="Column-bd">
			<div class="leftPart"><a href="javascript:void(0)"><img src="../Public/images/13.jpg" /><span class="ColumnTxt">1993到2013 凯特-莫斯34次VOGUE封面</span></a></div>
			<div class="midPart">
				<dl><dt><a href="javascript:void(0)"><img src="../Public/images/14.jpg" /></a></dt><dd><a href="">时尚穿衣搭配专栏</a></dd></dl>
				<dl><dt><a href="javascript:void(0)"><img src="../Public/images/14.jpg" /></a></dt><dd><a href="">时尚穿衣搭配专栏</a></dd></dl>
			</div>
			<div class="rightPart">
				<div class="mod1">
					<div class="hd">
						<h2><a href="javascript:void(0)">推荐专栏</a></h2>
						<span class="fr"></span>
					</div>
					<div class="bd">
						<ul>
							<li><em>1</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>2</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>3</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>4</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>5</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>6</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>7</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>8</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
							<li><em>9</em><a href="javascript:void(0)">雅思阅读常常时间不够用该怎么办雅思阅读常常时间不够用该怎么办</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	 </div>